Repository openwrt/packages, pull requests merged in 2019-06, with the labels that each got.

#9025 nbd: Update to 3.19 and remove unneed patches
  net/nbd/Makefile
  net/nbd/patches/100-make-gnutls-test-optional.patch
  net/nbd/patches/101-fix-build-without-gnutls.patch
Labels: waiting for maintainer

#7023 switchdev_poller: add new package (RFC)
  net/switchdev-poller/Makefile
  net/switchdev-poller/files/etc/init.d/switchdev-poller
  net/switchdev-poller/files/usr/lib/switchdev-poller/switchdev-poller
Labels: New package

#9315 [19.07] apfree-wifidog: Update to v3.11.1716
  net/apfree-wifidog/Makefile
  net/apfree-wifidog/files/wifidogx.conf
  net/apfree-wifidog/files/wifidogx.init
Labels: Stable branch
