Repository openwrt/packages, pull requests merged in 2019-07, with the labels that each got.

#8355 squeezelite: Remove codec auto configuration
  sound/squeezelite/Makefile
  sound/squeezelite/files/squeezelite.conf
  sound/squeezelite/files/squeezelite.init
Labels: waiting for maintainer

#8337 python-qrcode: add Python3
  lang/python/python-qrcode/Makefile
Labels: update

#8589 tesseract: leptonica: add package
  libs/leptonica/Makefile
  utils/tessdata/Makefile
  utils/tesseract/Makefile
Labels: New package
