Repository openwrt/packages, pull requests merged in 2019-12, with the labels that each got.

#10682 [19.07] Collectd: backport changes from master to 19.07
  utils/collectd/Makefile
  utils/collectd/files/collectd.init
  utils/collectd/files/collectd.uci
  utils/collectd/files/usr/share/collectd/plugin/apcups.json
  utils/collectd/files/usr/share/collectd/plugin/cpu.json
  utils/collectd/files/usr/share/collectd/plugin/curl.json
  utils/collectd/files/usr/share/collectd/plugin/iptables.json
  utils/collectd/files/usr/share/collectd/plugin/logfile.json
  utils/collectd/files/usr/share/collectd/plugin/memory.json
  utils/collectd/files/usr/share/collectd/plugin/network.json
  utils/collectd/patches/300-delay-first-read-cycle.patch
  utils/collectd/patches/320-reaction-to-ntp-time-change-at-boot.patch
  utils/collectd/patches/600-fix-libmodbus-detection.patch
  utils/collectd/patches/700-disable-sys-capability-check.patch
  utils/collectd/patches/900-add-iwinfo-plugin.patch
Labels: Stable branch

#10744 [18.06] libvpx: backport security fixes
  libs/libvpx/Makefile
  libs/libvpx/patches/400-CVE-2019-9232_9325_9371_9433.patch
Labels: security

#10809 [19.07] libmodbus update to 3.1.6
  libs/libmodbus/Makefile
  libs/libmodbus/patches/0001-Fixed-MODBUS_GET_-macros-in-case-of-negative-values.patch
  libs/libmodbus/patches/0001-Only-set-SER_RS485_ENABLED-bit-of-existing-RS485-set.patch
  libs/libmodbus/patches/0002-Oops-fix-OR-on-RS485-settings-1c5d969.patch
Labels: Stable branch

#10846 nut: Fix NUT CGI startup script
  net/nut/Makefile
  net/nut/files/nut-cgi.init
Labels: Stable branch

#10817 ruby: activate some of the extensions
  lang/ruby/Makefile
Labels: help wanted
