Repository openwrt/packages, pull requests merged in 2019-11, with the labels that each got.

#10423 afalg_engine: add new package
  libs/afalg_engine/Makefile
Labels: New package

#10275 screen: Update to 4.7.0
  utils/screen/Makefile
  utils/screen/patches/010-fix-configure-failed-while-build-dir-name-contains-y.patch
  utils/screen/patches/020-fix-configure-option-disable-use-locale-is-not-worki.patch
  utils/screen/patches/030-PATCH-1-4-Remove-redundant-compiler-sanity-checks.patch
  utils/screen/patches/040-PATCH-2-4-Provide-cross-compile-alternatives-for-AC_.patch
  utils/screen/patches/050-PATCH-3-4-Skip-host-file-system-checks-when-cross-co.patch
  utils/screen/patches/060-PATCH-4-4-Avoid-mis-identifying-systems-as-SVR4.patch
Labels: needs run-testing

#10442 [openwrt-19.07] haproxy: Update patches for HAProxy v2.0.8 + fix hotplug script
  net/haproxy/Makefile
  net/haproxy/files/haproxy.hotplug
  net/haproxy/patches/000-MINOR-config-warn-on-presence-of-n-in-header-values-replacements.patch
  net/haproxy/patches/001-BUG-MINOR-mux-h2-do-not-emit-logs-on-backend-connections.patch
  net/haproxy/patches/002-MINOR-tcp-avoid-confusion-in-time-parsing-init.patch
  net/haproxy/patches/003-BUG-MINOR-cli-dont-call-the-kw--io_release-if-kw--parse-failed.patch
  net/haproxy/patches/004-BUG-MINOR-mux-h2-Dont-pretend-mux-buffers-arent-full-anymore-if-nothing-sent.patch
  net/haproxy/patches/005-BUG-MAJOR-stream-int-Dont-receive-data-from-mux-until-SI_ST_EST-is-reached.patch
  net/haproxy/patches/006-OPENWRT-add-uclibc-support.patch
  net/haproxy/patches/007-OPENWRT-openssl-deprecated.patch
Labels: waiting for maintainer

#10538 mwan3: add https ping possibility and a minor fix
  net/mwan3/Makefile
  net/mwan3/files/lib/mwan3/mwan3.sh
  net/mwan3/files/usr/sbin/mwan3track
Labels: enhancement
