Repository openwrt/packages, pull requests merged in 2019-09, with the labels that each got.

#10017 collectd: add missing uci config sections
  utils/collectd/Makefile
  utils/collectd/files/collectd.init
  utils/collectd/files/collectd.uci
  utils/collectd/files/usr/share/collectd/plugin/apcups.json
  utils/collectd/files/usr/share/collectd/plugin/curl.json
  utils/collectd/files/usr/share/collectd/plugin/iptables.json
  utils/collectd/files/usr/share/collectd/plugin/network.json
Labels: enhancement

#10005 mjpg-streamer: modularize package
  multimedia/mjpg-streamer/Config.in
  multimedia/mjpg-streamer/Makefile
Labels: enhancement

#9974 libogg: Update to 1.3.4
  libs/libogg/Makefile
Labels: work needed

#10086 Openwrt 19.07
  net/hcxdumptool/Makefile
  net/hcxtools/Makefile
Labels: Stable branch
