Repository openwrt/packages, pull requests merged in 2019-04, with the labels that each got.

#4930 botan: add new package
  libs/botan/Makefile
Labels: New package

#4932 log4cplus: add new package
  libs/log4cplus/Makefile
Labels: New package

#8536 keepalived: update to version 2.0.14
  net/keepalived/Config.in
  net/keepalived/Makefile
  net/keepalived/files/keepalived.config
  net/keepalived/files/keepalived.init
  net/keepalived/patches/001-fix-systemd.patch
Labels: update

#8570 icu: update to 64.1
  libs/icu/Makefile
  libs/icu/patches/001-change_optimization_option.patch
Labels: update

#4929 kea: add new package
  net/kea/Makefile
  net/kea/patches/001-fix-cross-compile.patch
  net/kea/patches/002-fix-host-compile.patch
  net/kea/patches/003-no-test-compile.patch
Labels: New package

#4334 jose: Add Makefile for jose v10
  libs/jose/Makefile
  libs/jose/patches/Fix_minor_leak_upstream_198f720.patch
Labels: New package

#5447 tang: Add package tang into tree
  utils/tang/Makefile
  utils/tang/files/tangdw
  utils/tang/files/tangdx
  utils/tang/patches/Makefile_am.patch
  utils/tang/patches/rm-systemd-from-configure.patch
  utils/tang/patches/use-readlink-in-tangd-update.patch
Labels: New package

#7824 protobuf: Update to 3.6.1
  libs/protobuf/Makefile
Labels: update

#5043 libnss: add nss-tools 3.43 a prereq for libreswan
  libs/nss/Makefile
  libs/nss/files/blank-cert9.db
  libs/nss/files/blank-key4.db
  libs/nss/files/system-pkcs11.txt
  libs/nss/patches/001-nss_standalone.patch
  libs/nss/patches/002-os_test.patch
  libs/nss/patches/003-openwrt_fix.patch
Labels: New package

#8487 unrar: Update to 5.7.3
  utils/unrar/Makefile
  utils/unrar/patches/100-makefile_fixes.patch
Labels: update

#8492 fping: update to version 4.2
  net/fping/Makefile
Labels: update

#8493 sudo: update to version 1.8.27
  admin/sudo/Makefile
Labels: update

#8482 python-yaml: update to version 5.1
  lang/python/python-yaml/Makefile
Labels: update

#8229 powertop: add package
  utils/powertop/Makefile
  utils/powertop/patches/001-musl-fix-headers.patch
  utils/powertop/patches/002-strerror_r.patch
  utils/powertop/patches/010-src-main-Add-missing-pthread-header.patch
  utils/powertop/patches/020-intel_cpus.cpp-Change-open-parameter-to-const-char.patch
Labels: New package

#8621 libstrophe: Install pkg-config .pc file
  libs/libstrophe/Makefile
Labels: enhancement

#8604 python-cryptodome: update to 3.8.1
  lang/python/python-cryptodome/Makefile
  lang/python/python-cryptodome/patches/002-omit-tests.patch
  lang/python/python-cryptodomex/Makefile
  lang/python/python-cryptodomex/patches/002-omit-tests.patch
Labels: update

#5054 libreswan: add libreswan 3.27
  net/libreswan/Makefile
  net/libreswan/files/ipsec.conf
  net/libreswan/files/ipsec.init
  net/libreswan/files/ipsec.secrets
Labels: New package

#8616 file: Update to 5.36
  libs/file/Makefile
Labels: update

#8624 golang: Update to 1.12.3
  lang/golang/golang-version.mk
  lang/golang/golang/Makefile
Labels: update

#8625 prometheus-node-exporter-lua: Add wifi_station_count metric
  utils/prometheus-node-exporter-lua/Makefile
  utils/prometheus-node-exporter-lua/files/usr/lib/lua/prometheus-collectors/wifi_stations.lua
Labels: enhancement

#8540 zabbix: update to version 4.0.6
  admin/zabbix/Makefile
  admin/zabbix/patches/010-change-agentd-config.patch
  admin/zabbix/patches/110-reproducible-builds.patch
Labels: update

#8626 tgt: update to 1.0.76
  net/tgt/Makefile
Labels: update

#8353 samba4: update to 4.9.5, switch to embedded heimdal build
  net/samba4/Config.in
  net/samba4/Makefile
  net/samba4/files/samba.init
Labels: update

#8635 stunnel: update version to 5.51
  net/stunnel/Makefile
  net/stunnel/files/stunnel.init
Labels: update

#8636 keepalived: update to version 2.0.15
  net/keepalived/Makefile
  net/keepalived/patches/001-fix-systemd.patch
Labels: update

#8639 libhttp-parser: update to 2.9.0
  libs/libhttp-parser/Makefile
Labels: update

#8628 i2c-tools: add license and tool
  utils/i2c-tools/Makefile
Labels: enhancement, update

#8567 lttng-*: update version
  devel/lttng-tools/Makefile
  devel/lttng-tools/patches/010-fix-compile-fails-for-x32-arch.patch
  devel/lttng-tools/patches/020-Fix-getgrnam-is-not-MT-Safe-use-getgrnam_r.patch
  devel/lttng-tools/patches/100-musl-compat.patch
  devel/lttng-tools/patches/200-use-extern.patch
  libs/lttng-ust/Makefile
  libs/lttng-ust/patches/001-no_docs_tests.patch
  libs/lttng-ust/patches/002-examples.patch
Labels: update

#8629 node: bump to 8.15.1
  lang/node/Makefile
Labels: update

#8620 node-homebridge: update to 0.4.48
  lang/node-homebridge/Makefile
Labels: update

#8619 vim: Add host build to install xxd
  utils/device-observatory/Makefile
  utils/ttyd/Makefile
  utils/vim/Makefile
Labels: enhancement

#8654 python-pytz: update to version 2019.1
  lang/python/python-pytz/Makefile
Labels: update

#8655 ruamel-yaml: update to version 0.15.91
  lang/python/ruamel-yaml/Makefile
Labels: update

#8634 yara: update to version 3.9.0
  utils/yara/Makefile
  utils/yara/patches/010-libyara-Switch-to-OpenSSL-s-THREADID-API.patch
Labels: update

#8495 mjpg-streamer: update to last upstream version
  multimedia/mjpg-streamer/Makefile
  multimedia/mjpg-streamer/files/mjpg-streamer.config
  multimedia/mjpg-streamer/files/mjpg-streamer.init
  multimedia/mjpg-streamer/patches/010-optional-plugins-selection.patch
  multimedia/mjpg-streamer/patches/020-remove-auto-lib-selection.patch
Labels: update

#8656 libmodbus: backport RS485 fixes
  libs/libmodbus/Makefile
  libs/libmodbus/patches/0001-Only-set-SER_RS485_ENABLED-bit-of-existing-RS485-set.patch
  libs/libmodbus/patches/0002-Oops-fix-OR-on-RS485-settings-1c5d969.patch
Labels: bug

#8660 krb5: allow installing without kadmind
  net/krb5/Makefile
  net/krb5/files/krb5kdc
Labels: enhancement

#8665 knot: update to 2.8.1
  net/knot/Makefile
Labels: update

#7951 hiredis: fix pkg-config file
  libs/hiredis/Makefile
  libs/hiredis/patches/010-fix_pkconfig_file.patch
Labels: waiting for maintainer

#8670 opencv: Fix tarball URL to fix compilation
  libs/opencv/Makefile
  libs/opencv/patches/010-fix-url.patch
Labels: bug

#8664 backport collectd modbus improvements
  utils/collectd/Makefile
  utils/collectd/patches/051-Add-scale-and-shift-to-modbus-plugin.patch
  utils/collectd/patches/052-correcting-all-the-wrongs.patch
  utils/collectd/patches/053-Add-support-for-RS485-to-modbus-plugin.patch
Labels: enhancement

#8669 ola: Fix compilation with protobuf 3.7
  net/ola/Makefile
  net/ola/patches/100-protobuf-3.7.patch
  net/ola/patches/110-add-missing-config.h-incluude.patch
  net/ola/patches/120-compile-fix.patch
Labels: bug

#8361 add new udptunnel package
  net/udptunnel/Makefile
  net/udptunnel/patches/001-multicast.patch
  net/udptunnel/patches/002-main_code_fix.patch
Labels: New package

#8662 node-mozilla-iot-gateway: update to version 0.7.0
  lang/node-mozilla-iot-gateway/Makefile
Labels: update

#8631 softethervpn5: update to 5.01.9670
  net/softethervpn5/Makefile
Labels: update

#8646 python3-pyroute2: add new package
  lang/python/python3-pyroute2/Makefile
Labels: New package

#8214 Adding awscli to python packages
  lang/python/python-awscli/Makefile
  lang/python/python-botocore/Makefile
  lang/python/python-colorama/Makefile
  lang/python/python-docutils/Makefile
  lang/python/python-futures/Makefile
  lang/python/python-jmespath/Makefile
  lang/python/python-rsa/Makefile
  lang/python/python-s3transfer/Makefile
Labels: New package

#8138 collectd: enable lua support
  utils/collectd/Makefile
  utils/collectd/patches/930-fix-lua-callback-registration.patch
Labels: waiting for maintainer

#8668 perl-device-usb: Update to 0.37
  lang/perl-device-usb/Makefile
  lang/perl-device-usb/patches/110-just_assume_libusb_is_there.patch
  lang/perl-device-usb/patches/140-avoid-libusb-name-conflicts.patch
Labels: update

#8745 squid: Update to 4.6
  net/squid/Makefile
  net/squid/patches/001-cross_compile.patch
  net/squid/patches/010-openssl-engine.patch
Labels: update

#8657 prometheus-node-exporter-lua: Add more wifi_station metrics
  utils/prometheus-node-exporter-lua/Makefile
  utils/prometheus-node-exporter-lua/files/usr/lib/lua/prometheus-collectors/wifi_stations.lua
Labels: enhancement

#7102 libre2: add re2 package
  libs/libre2/Makefile
Labels: New package

#7098 libgflags: add gflags package
  libs/libgflags/Makefile
Labels: New package

#8658 Make mjpg-streamer init script recognize file output plugin
  multimedia/mjpg-streamer/Makefile
  multimedia/mjpg-streamer/files/mjpg-streamer.init
Labels: enhancement

#7906 [packages] tinyproxy: handling of option XTinyproxy
  net/tinyproxy/Makefile
  net/tinyproxy/files/tinyproxy.init
Labels: bug
