Repository openwrt/packages, pull requests merged in 2019-05, with the labels that each got.

#8722 mozilla-iot-gateway: update to version 0.8.1
  lang/node-mozilla-iot-gateway/Makefile
Labels: update

#8613 libs/libx264: Update to 20190324 and rework Makefile
  libs/libx264/Makefile
  libs/libx264/patches/001-fix-x32-build-by-disabling-asm.patch
  libs/libx264/patches/002-dont-default-to-cortex-a9-with-neon.patch
Labels: update

#7099 libsigar: add sigar libary
  libs/libsigar/Makefile
Labels: New package

#8311 collectd: add uci config support
  utils/collectd/Makefile
  utils/collectd/files/collectd.conf
  utils/collectd/files/collectd.init
  utils/collectd/files/collectd.uci
  utils/collectd/files/usr/share/collectd/plugin/conntrack.json
  utils/collectd/files/usr/share/collectd/plugin/contextswitch.json
  utils/collectd/files/usr/share/collectd/plugin/cpu.json
  utils/collectd/files/usr/share/collectd/plugin/cpufreq.json
  utils/collectd/files/usr/share/collectd/plugin/csv.json
  utils/collectd/files/usr/share/collectd/plugin/df.json
  utils/collectd/files/usr/share/collectd/plugin/disk.json
  utils/collectd/files/usr/share/collectd/plugin/dns.json
  utils/collectd/files/usr/share/collectd/plugin/email.json
  utils/collectd/files/usr/share/collectd/plugin/entropy.json
  utils/collectd/files/usr/share/collectd/plugin/exec.json
  utils/collectd/files/usr/share/collectd/plugin/interface.json
  utils/collectd/files/usr/share/collectd/plugin/irq.json
  utils/collectd/files/usr/share/collectd/plugin/iwinfo.json
  utils/collectd/files/usr/share/collectd/plugin/load.json
  utils/collectd/files/usr/share/collectd/plugin/lua.json
  utils/collectd/files/usr/share/collectd/plugin/memory.json
  utils/collectd/files/usr/share/collectd/plugin/netlink.json
  utils/collectd/files/usr/share/collectd/plugin/nut.json
  utils/collectd/files/usr/share/collectd/plugin/olsrd.json
  utils/collectd/files/usr/share/collectd/plugin/openvpn.json
  utils/collectd/files/usr/share/collectd/plugin/ping.json
  utils/collectd/files/usr/share/collectd/plugin/processes.json
  utils/collectd/files/usr/share/collectd/plugin/rrdtool.json
  utils/collectd/files/usr/share/collectd/plugin/sensors.json
  utils/collectd/files/usr/share/collectd/plugin/tcpconns.json
  utils/collectd/files/usr/share/collectd/plugin/thermal.json
  utils/collectd/files/usr/share/collectd/plugin/unixsock.json
  utils/collectd/files/usr/share/collectd/plugin/uptime.json
Labels: waiting for maintainer

#7792 Hashdeep: add package
  utils/hashdeep/Makefile
Labels: New package

#7101 libmstch: add mstch library
  libs/libmstch/Makefile
Labels: New package

#8097 tac_plus: New package
  net/tac_plus/Makefile
  net/tac_plus/files/tac_plus.conf
  net/tac_plus/files/tac_plus.init
  net/tac_plus/patches/010-configure-remove-libnsl.patch
Labels: New package

#6808 LoRa: Add package lora-gateway-hal
  net/lora-gateway-hal/Config.in
  net/lora-gateway-hal/Makefile
  net/lora-gateway-hal/patches/0001-add-cmake-support.patch
  net/lora-gateway-hal/patches/0002-add-preprocessing-for-SPI_DEV_PATH-and-SPI_SPEED.patch
  net/lora-gateway-hal/patches/0003-add-SPI_DEV_PATH-and-SPI_SPEED-to-cmake.patch
Labels: New package

#8607 Port mirroring 1.4.4
  net/port-mirroring/Makefile
  net/port-mirroring/patches/010-convert-to-unix.patch
  net/port-mirroring/patches/020-fix-musl.patch
Labels: update

#8641 [RFC/RFT] bind: update to 9.14.2
  net/bind/Config.in
  net/bind/Makefile
  net/bind/patches/001-no-tests.patch
  net/bind/patches/002-autoconf-ar-fix.patch
  net/bind/patches/002-continue-if-yield-instruction-is-missing.patch
Labels: update
