Repository openwrt/packages, pull requests merged in 2020-10, with the labels that each got.

#12408 adguardhome: initial package recipe
  net/adguardhome/Makefile
  net/adguardhome/files/adguardhome.init
Labels: New package

#13614 python-pytest: update to version 6.1.1
  lang/python/python-pytest/Makefile
Labels: hacktoberfest-accepted

#13622 nextdns: mark /etc/config/nextdns as configuration file
  net/nextdns/Makefile
Labels: OpenWrt 19.07

#13617 sipcalc: add IPv4/IPv6 calculator
  utils/sipcalc/Makefile
Labels: New package

#13719 zoneinfo: Updated to the latest release
  utils/zoneinfo/Makefile
Labels: needs run-testing

#13169 mwan3: mwan3track via default routing table and use procd from mwan3track & mwan3rtmon
  net/mwan3/Makefile
  net/mwan3/files/etc/config/mwan3
  net/mwan3/files/etc/hotplug.d/iface/15-mwan3
  net/mwan3/files/etc/hotplug.d/iface/16-mwan3-user
  net/mwan3/files/etc/init.d/mwan3
  net/mwan3/files/lib/mwan3/common.sh
  net/mwan3/files/lib/mwan3/mwan3.sh
  net/mwan3/files/usr/libexec/rpcd/mwan3
  net/mwan3/files/usr/sbin/mwan3
  net/mwan3/files/usr/sbin/mwan3rtmon
  net/mwan3/files/usr/sbin/mwan3track
  net/mwan3/src/sockopt_wrap.c
Labels: bug, enhancement

#13703 softethervpn: update to 4.34-9745
  net/softethervpn/Makefile
  net/softethervpn/patches/120-openssl-deprecated.patch
  net/softethervpn/patches/130-iconv.patch
  net/softethervpn/patches/140-openssl-header.patch
Labels: needs run-testing
