Repository openwrt/packages, pull requests merged in 2020-04, with the labels that each got.

#11761 mpd: update to 0.21.22
  sound/mpd/Makefile
  sound/mpd/patches/010-treewide-use-boost-lround-when-std-round-is-unavaila.patch
  sound/mpd/patches/020-fix-incorrect-rounding.patch
  sound/mpd/patches/030-volume_mapping-get-rid-of-exp10-workaround.patch
  sound/mpd/patches/040-treewide-get-rid-of-C-math-function-usage.patch
Labels: needs run-testing

#11892 smcroute: Keep config file /etc/smcroute.conf on sysupgrade
  net/smcroute/Makefile
Labels: work needed

#11876 libevdev: update to 2.9.0
  libs/libevdev/Makefile
  libs/libevdev/patches/010-no-clock-monotonic-raw-in-uclibc.patch
Labels: needs run-testing

#11888 libinput: update to 1.15.5
  libs/libinput/Makefile
  libs/libinput/patches/001-no-locale.patch
  libs/libinput/patches/002-static_assert.patch
  libs/libinput/patches/010-musl-fix.patch
Labels: needs run-testing

#11889 dbus: update to 1.13.12
  utils/dbus/Makefile
  utils/dbus/files/dbus-launch
Labels: needs run-testing

#11976 pingcheck: Update and add script directories
  net/pingcheck/Makefile
Labels: Stable branch

#11937 coreutils: update to 8.32
  utils/coreutils/Makefile
  utils/coreutils/patches/001-no_docs_man_tests.patch
  utils/coreutils/patches/002-strtod-fix-clash-with-strtold.patch
Labels: needs run-testing
