Repository openwrt/packages, pull requests merged in 2020-01, with the labels that each got.

#10867 pciutils: Use MIPS16
  utils/pciutils/Makefile
Labels: needs run-testing

#10930 spi-tools: Update to 0.8.4
  utils/spi-tools/Makefile
Labels: needs run-testing

#10933 libcap: Update to 2.30
  libs/libcap/Makefile
  libs/libcap/patches/100-portability.patch
  libs/libcap/patches/200-change-hardcoded-shell-to-sh.patch
Labels: needs run-testing

#10934 tcsh: Update to 6.22.02
  utils/tcsh/Makefile
  utils/tcsh/patches/001-sysmalloc.patch
  utils/tcsh/patches/010-wint.patch
  utils/tcsh/patches/020-cross.patch
Labels: needs run-testing

#10945 transmission: Fix message_level setting
  net/transmission/Makefile
  net/transmission/files/transmission.init
Labels: needs run-testing

#10995 [18.06] libseccomp: update to version 2.4.2
  libs/libseccomp/Makefile
Labels: security

#11094 zerotier: add /etc/config/zerotier as configuration file
  net/zerotier/Makefile
Labels: Stable branch
