Repository openwrt/packages, pull requests merged in 2020-07, with the labels that each got.

#11831 open-iscsi: add package open-iscsi
  net/open-iscsi/Makefile
  net/open-iscsi/files/iscsi-gen-initiatorname
  net/open-iscsi/files/iscsi_discovery
  net/open-iscsi/files/iscsi_fw_login
  net/open-iscsi/files/iscsi_offload
  net/open-iscsi/files/open-iscsi
  net/open-iscsi/patches/0002-idmb_rec_write-check-for-tpgt-first.patch
  net/open-iscsi/patches/0003-idbm_rec_write-seperate-old-and-new-style-writes.patch
  net/open-iscsi/patches/0004-idbw_rec_write-pick-tpgt-from-existing-record.patch
  net/open-iscsi/patches/0015-remove-the-offload-boot-supported-ifdef.patch
  net/open-iscsi/patches/0019-Coverity-scan-fixes.patch
  net/open-iscsi/patches/0023-iscsi_if.h-replace-zero-length-array-with-flexible-a.patch
  net/open-iscsi/patches/01-fixiscsi_iname_core_dumps.patch
  net/open-iscsi/patches/02-change_include_poll_h.patch
  net/open-iscsi/patches/03-ignore_iface_example.patch
Labels: Depends on PR in other repo

#12732 mwan3: sync with master branch
  net/mwan3/Makefile
  net/mwan3/files/etc/init.d/mwan3
  net/mwan3/files/lib/mwan3/mwan3.sh
  net/mwan3/files/usr/libexec/rpcd/mwan3
  net/mwan3/files/usr/sbin/mwan3
  net/mwan3/files/usr/sbin/mwan3track
Labels: Stable branch

#12950 mwan3: backport version 2.8.12 to stable branch openwrt-19.07
  net/mwan3/Makefile
  net/mwan3/files/etc/config/mwan3
  net/mwan3/files/etc/hotplug.d/iface/15-mwan3
  net/mwan3/files/etc/hotplug.d/iface/16-mwan3
  net/mwan3/files/etc/hotplug.d/iface/16-mwan3-user
  net/mwan3/files/etc/init.d/mwan3
  net/mwan3/files/lib/mwan3/mwan3.sh
  net/mwan3/files/usr/sbin/mwan3
Labels: Stable branch

#12907 mutt: update to 1.14.6
  mail/mutt/Makefile
  mail/mutt/patches/0001-no-po.patch
Labels: needs run-testing
