Repository openwrt/packages, pull requests merged in 2020-12, with the labels that each got.

#14213 [19.07] simple-adblock: bugfix - config update
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.conf.update
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 19.07

#14214 [18.06] simple-adblock: bugfix - config update
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.conf.update
  net/simple-adblock/files/simple-adblock.init
Labels: Stable branch

#14226 keyutils: update to 1.6.3 and improve packaging
  libs/keyutils/Makefile
  libs/keyutils/patches/010-reproducible-build.patch
  libs/keyutils/patches/020-rindex.patch
Labels: update
