Repository openwrt/packages, pull requests merged in 2021-08, with the labels that each got.

#16265 [21.02] libxml2: update to 2.9.12
  libs/libxml2/Makefile
  libs/libxml2/patches/001-CVE-2019-20388.patch
  libs/libxml2/patches/002-CVE-2020-24977.patch
  libs/libxml2/patches/003-CVE-2020-7595.patch
Labels: OpenWrt 21.02

#16267 [21.02] php7: update to 7.4.22
  lang/php7/Makefile
  lang/php7/patches/0041-Add-patch-to-remove-build-timestamps-from-generated-.patch
Labels: OpenWrt 21.02

#16264 [21.02] php8 update to 8.0.9
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/0041-Add-patch-to-remove-build-timestamps-from-generated-.patch
  lang/php8/patches/1001-ext-opcache-fix-detection-of-shm-mmap.patch
  lang/php8/patches/1004-disable-phar-command.patch
  lang/php8/test.sh
Labels: OpenWrt 21.02

#15108 ksmbd updates for 19.07
  kernel/ksmbd/Makefile
Labels: OpenWrt 19.07

#16266 [21.02] node: bump to 14.17.4
  lang/node/Makefile
  lang/node/patches/003-path.patch
Labels: OpenWrt 21.02, vulnerability

#16230 transmission: apply DSCP to UDP sockets too
  net/transmission/Makefile
  net/transmission/patches/001-apply-dscp-to-udp-sockets.patch
Labels: needs run-testing

#16253 [21.02] https-dns-proxy: update to 2021-07-29-1
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.hotplug.iface
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 21.02

#16258 [21.02] curl: enable HTTP/2 support by default
  net/curl/Config.in
Labels: OpenWrt 21.02

#16254 [19.07] https-dns-proxy: update to 2021-07-29-1
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.hotplug.iface
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 19.07

#16112 mdio-tools: Add package plus kernel module
  kernel/mdio-netlink/Makefile
  net/mdio-tools/Makefile
Labels: Depends on PR in other repo

#16195 net/snort3: Include default configs and snort2lua
  net/snort3/Makefile
  net/snort3/files/snort.config
Labels: OpenWrt 21.02

#16357 sqm-scripts: bump to v1.5.1
  net/sqm-scripts/Makefile
Labels: OpenWrt 21.02

#16384 [21.02] curl: update to 7.78.0
  net/curl/Makefile
Labels: OpenWrt 21.02

#16414 [21.02] https-dns-proxy: patch CMakeList.txt to use OpenWrt CFLAGS
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/patches/010-fix-cmakelists.patch
Labels: OpenWrt 21.02

#16415 [19.07] https-dns-proxy: patch CMakeList.txt to use OpenWrt CFLAGS
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/patches/010-fix-cmakelists.patch
Labels: OpenWrt 19.07

#16411 [19.07] file: update to 5.38
  libs/file/Makefile
Labels: OpenWrt 19.07

#16444 [19.07] postgresql: disable PIC
  libs/postgresql/Makefile
Labels: OpenWrt 19.07

#16422 gerbera: update to 1.9.0
  libs/spdlog/Makefile
  libs/spdlog/patches/010-fmt8.patch
  multimedia/gerbera/Makefile
  multimedia/gerbera/patches/010-Os-unique_ptr.patch
Labels: needs run-testing

#16123 lxc: update to 4.0.10
  utils/lxc/Makefile
  utils/lxc/patches/010-Remove-distro-check.patch
  utils/lxc/patches/015-getline.patch
  utils/lxc/patches/025-remove-unsupported-option.patch
  utils/lxc/patches/030-commands-fix-check-for-seccomp-notify-support.patch
  utils/lxc/patches/035-configure-skip-libseccomp-tests-if-it-is-disabled.patch
  utils/lxc/patches/040-gpg.patch
Labels: needs run-testing

#16071 squid: update to 4.16
  net/squid/Makefile
Labels: needs run-testing

#16141 nfs-kernel-server: update to 2.5.4
  net/nfs-kernel-server/Makefile
Labels: needs run-testing

#16509 [21.02] htop: Add HTOP_LMSENSORS config option
  admin/htop/Makefile
Labels: OpenWrt 21.02
