Repository openwrt/packages, pull requests merged in 2021-02, with the labels that each got.

#14522 btrfs-progs: update to 5.10
  utils/btrfs-progs/Makefile
Labels: blocked

#14572 prometheus-node-exporter-lua: use the new ubus dsl metrics
  utils/prometheus-node-exporter-lua/Makefile
  utils/prometheus-node-exporter-lua/files/usr/lib/lua/prometheus-collectors/ltq-dsl.lua
Labels: Depends on PR in other repo

#14778 ksmbd: remove kmod-crypto-arc4 dependency
  kernel/ksmbd/Makefile
Labels: High, OpenWrt 19.07

#14790 bcm27xx-eeprom: update to latest version
  utils/bcm27xx-eeprom/Makefile
  utils/bcm27xx-eeprom/patches/0001-rpi-eeprom-update-OpenWrt-defaults.patch
  utils/bcm27xx-eeprom/patches/0002-rpi-eeprom-config-switch-to-Python-3.patch
  utils/bcm27xx-eeprom/patches/0003-rpi-eeprom-update-change-default-include-path.patch
  utils/bcm27xx-eeprom/patches/0004-rpi-eeprom-update-chmod-silent-f-is-not-supported.patch
Labels: Package update, update

#14875 openvswitch: update to version 2.11.6 (security fix)
  net/openvswitch/Makefile
  net/openvswitch/patches/0001-compat-Include-confirm_neigh-parameter-if-needed.patch
  net/openvswitch/patches/0002-compat-Fix-ipv6_dst_lookup-build-error.patch
  net/openvswitch/patches/0003-compat-Backport-ipv6_stub-change.patch
  net/openvswitch/patches/0004-ovsdb-idlc.in-fix-dict-change-during-iteration.patch
  net/openvswitch/patches/0005-netdev-linux-Let-interface-flag-survive-internal-por.patch
  net/openvswitch/patches/0006-python-separate-host-target-python-for-cross-compile.patch
  net/openvswitch/patches/0007-ovs-lib-fix-install_dir.patch
  net/openvswitch/patches/0008-build-disable-building-tests.patch
  net/openvswitch/patches/0009-datapath-unexport-LDFLAGS.patch
  net/openvswitch/patches/0010-acinclude-Fix-build-with-kernels-with-prandom-moved-.patch
Labels: OpenWrt 19.07
