Repository openwrt/packages, pull requests merged in 2021-07, with the labels that each got.

#16051 python3: update to version 3.7.11
  lang/python/python3-version.mk
  lang/python/python3/Makefile
Labels: OpenWrt 19.07

#15883 apache: update to 2.4.48
  net/apache/Makefile
  net/apache/patches/020-openssl-deprecated.patch
Labels: High, security

#16086 lxc: add patch to switch GPG server
  utils/lxc/Makefile
  utils/lxc/patches/031-lxc-download-Switch-GPG-server.patch
Labels: OpenWrt 18.06

#16088 lxc: add patch to switch GPG server
  utils/lxc/Makefile
  utils/lxc/patches/040-gpg.patch
Labels: OpenWrt 21.02

#16087 lxc: add patch to switch GPG server
  utils/lxc/Makefile
  utils/lxc/patches/031-lxc-download-Switch-GPG-server.patch
Labels: OpenWrt 19.07

#16110 [21.02] openvpn-easy-rsa: add missing configfile
  admin/syslog-ng/Makefile
Labels: OpenWrt 21.02, bug

#15702 kplex: add support for Sierra Wireless Gobi GPS
  net/kplex/Makefile
  net/kplex/patches/100-add-support-for-Sierra-Wireless-qcserial-NMEA-0183-i.patch
Labels: enhancement

#16062 snort3: Backport update to the stable version
  libs/libdaq3/Makefile
  net/snort3/Makefile
  net/snort3/patches/001-compile.patch
  net/snort3/patches/002-ignore-liblzma.patch
  net/snort3/patches/build-fix.patch
Labels: OpenWrt 19.07

#16138 ruby: update to 2.6.8
  lang/ruby/Makefile
  lang/ruby/patches/001_fix_isnan_isinf_finite_with_uclibc.patch
Labels: OpenWrt 19.07

#16095 bind: update to version 9.16.18
  net/bind/Makefile
Labels: OpenWrt 19.07
