Repository openwrt/packages, pull requests merged in 2021-11, with the labels that each got.

#17017 mariadb: Update to version 10.4.21
  utils/mariadb/Makefile
  utils/mariadb/patches/130-c11_atomics.patch
  utils/mariadb/patches/190-replace-hostname-in-mysqld_safe.patch
Labels: OpenWrt 21.02

#17053 [21.02] php7: Support for icu 70.1
  lang/php7/Makefile
  lang/php7/patches/1011-Accommodate-changes-to-canonicalized-forms-in-ICU-70_1.patch
Labels: OpenWrt 21.02

#17052 [21.02] php8: Support for icu 70.1
  lang/php8/Makefile
  lang/php8/patches/1011-Accommodate-changes-to-canonicalized-forms-in-ICU-70_1.patch
Labels: OpenWrt 21.02

#16771 dns-over-https: Add dns-over-https
  net/dns-over-https/Makefile
  net/dns-over-https/files/doh-client.init
  net/dns-over-https/files/doh-server.init
Labels: response needed

#17099 [21.02] Pull latest php7 pecl package updates from master
  lang/php7-pecl-http/Makefile
  lang/php7-pecl-imagick/Makefile
  lang/php7-pecl-redis/Makefile
Labels: OpenWrt 21.02

#17110 [19.07] php7: Update and clean up distributed php7.ini
  lang/php7/Makefile
  lang/php7/files/php.ini
Labels: OpenWrt 19.07

#17111 [21.02] php7: Update and clean up distributed php7.ini
  lang/php7/Makefile
  lang/php7/files/php.ini
Labels: OpenWrt 21.02

#17023 nfs-kernel-server: move hardcoded /run to /tmp/run
  net/nfs-kernel-server/Makefile
  net/nfs-kernel-server/patches/110-move-hardcoded-rundir.patch
Labels: bug, waiting for maintainer

#17113 [21.02] cyrus-sasl: patch CVE-2019-19906
  libs/cyrus-sasl/Makefile
  libs/cyrus-sasl/patches/CVE-2019-19906.patch
Labels: OpenWrt 21.02

#17114 [19.07] cyrus-sasl: patch CVE-2019-19906
  libs/cyrus-sasl/Makefile
  libs/cyrus-sasl/patches/CVE-2019-19906.patch
Labels: OpenWrt 19.07

#17150 bind: update to version 9.16.23
  net/bind/Makefile
Labels: OpenWrt 19.07

#17169 [21.02] php8: update to 8.0.13
  lang/php8/Makefile
  lang/php8/patches/1011-Accommodate-changes-to-canonicalized-forms-in-ICU-70_1.patch
Labels: OpenWrt 21.02

#17170 [21.02] php7: update to 7.4.26
  lang/php7/Makefile
  lang/php7/patches/1011-Accommodate-changes-to-canonicalized-forms-in-ICU-70_1.patch
Labels: OpenWrt 21.02

#17155 [openwrt-21.02] golang: Update to 1.17.3
  lang/golang/golang/Makefile
Labels: OpenWrt 21.02

#17064 mariadb, liburing: fix liburing dependency failure (use liburing if kernel supports it)
  libs/liburing/Makefile
  utils/mariadb/Makefile
Labels: needs run-testing

#17162 [21.02] nebula: update to 1.5.0
  net/nebula/Makefile
Labels: OpenWrt 21.02

#17233 [21.02] curl: update to 7.80.0
  net/curl/Makefile
  net/curl/patches/200-no_docs_tests.patch
Labels: OpenWrt 21.02

#17209 ddns-scripts: Fix wrong whitespace in preinst and postinst scripts
  net/ddns-scripts/Makefile
Labels: OpenWrt 19.07

#17241 [21.02] nextdns: Update to version 1.37.5
  net/nextdns/Makefile
Labels: OpenWrt 21.02
