Repository openwrt/packages, pull requests merged in 2021-04, with the labels that each got.

#15372 [21.02] safe-search: check for changed IP addresses weekly
  net/safe-search/Makefile
Labels: OpenWrt 21.02

#6924 strongswan: add more crypto plugins
  net/strongswan/Makefile
  net/strongswan/patches/101-musl-fixes.patch
Labels: work needed

#15413 [19.07] ruby: update to 2.6.7
  lang/ruby/Makefile
Labels: security

#15412 ruby: update to 3.0.1
  lang/ruby/Makefile
Labels: security

#15414 [21.02] ruby: update to 3.0.1
  lang/ruby/Makefile
Labels: security

#15415 [18.06] ruby: update to 2.5.9
  lang/ruby/Makefile
Labels: security

#15417 openvpn-easy-rsa: add missing configfile
  net/openvpn-easy-rsa/Makefile
Labels: bug

#15418 [21.02] openvpn-easy-rsa: add missing configfile
  net/openvpn-easy-rsa/Makefile
Labels: bug

#15502 stunnel: update version to 5.59
  net/stunnel/Makefile
Labels: OpenWrt 21.02

#15508 [openwrt-21.02][cherry-pick] squid: Enable dynamic SSL certificate generation
  net/squid/Config.in
Labels: OpenWrt 21.02

#15509 [openwrt-19.07][cherry-pick] squid: Enable dynamic SSL certificate generation
  net/squid/Config.in
  net/squid/Makefile
Labels: OpenWrt 19.07
