Repository openwrt/packages, pull requests merged in 2022-05, with the labels that each got.

#18433 [openwrt-22.03] rclone: Update to 1.58.1
  net/rclone/Makefile
Labels: OpenWrt 22.03

#18432 [openwrt-21.02] rclone: Update to 1.58.1
  net/rclone/Makefile
Labels: OpenWrt 21.02

#18457 usteer: update to latest HEAD
  net/usteer/Makefile
Labels: OpenWrt 22.03

#18458 usteer: update to latest HEAD
  net/usteer/Makefile
Labels: OpenWrt 21.02

#18359 [openwrt-22.03] v2rayA: Update to 1.5.7
  net/v2raya/Makefile
  net/v2raya/files/v2raya.config
  net/v2raya/files/v2raya.init
Labels: OpenWrt 22.03

#18333 [22.03] passh: an sshpass alternative
  utils/passh/Makefile
  utils/passh/test.sh
Labels: OpenWrt 22.03

#18332 [22.03] sexpect: Expect for Shells
  utils/sexpect/Makefile
  utils/sexpect/test.sh
Labels: OpenWrt 22.03

#18324 [21.02] adguardhome: Update v0.107.6
  net/adguardhome/Makefile
Labels: OpenWrt 21.02

#18339 [22.03] zerotier: fix segfault on ARM platforms
  net/zerotier/Makefile
  net/zerotier/patches/0001-fix-makefile.patch
Labels: OpenWrt 22.03

#18461 [openwrt-22.03] cloudflared: Update to 2022.5.0
  net/cloudflared/Makefile
Labels: OpenWrt 22.03

#18462 [openwrt-22.03] cloudreve: Update to 3.5.3
  net/cloudreve/Makefile
Labels: OpenWrt 22.03

#18469 strongswan: add wolfssl plugin
  net/strongswan/Makefile
Labels: OpenWrt 22.03

#18492 [openwrt-22.03] haproxy: Update HAProxy to v2.4.16
  net/haproxy/Makefile
  net/haproxy/get-latest-patches.sh
Labels: OpenWrt 22.03

#18563 [21.02] telegraf: Update to version 1.22.4
  utils/telegraf/Makefile
Labels: OpenWrt 21.02

#18562 [22.03] telegraf: Update to version 1.22.4
  utils/telegraf/Makefile
Labels: OpenWrt 22.03

#18362 [21.02] https-dns-proxy: 2021-11-22-3: add support for Canary Domains
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 21.02

#18363 [22.03] https-dns-proxy: 2021-11-22-3: add support for Canary Domains
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#18575 usteer: update to latest HEAD
  net/usteer/Makefile
Labels: OpenWrt 21.02

#18574 usteer: update to latest HEAD
  net/usteer/Makefile
Labels: OpenWrt 22.03

#18581 [22.03] icu: bump to 71.1
  libs/icu/Makefile
  libs/icu/patches/010-max_align_t.patch
Labels: OpenWrt 22.03

#18583 [21.02] openldap: update to 2.4.58
  libs/openldap/Makefile
Labels: OpenWrt 21.02

#18579 [openwrt-22.03] bluez: Update to 5.64, update/refresh patches
  utils/bluez/Makefile
  utils/bluez/patches/201-readline.patch
  utils/bluez/patches/202-fix-endianness.patch
  utils/bluez/patches/205-refresh_adv_manager_for_non-LE_devices.patch
Labels: OpenWrt 22.03

#18407 [22.03] shadowsocks-libev: fix compat issue with newer version of ucode
  net/shadowsocks-libev/Makefile
  net/shadowsocks-libev/files/shadowsocks-libev.init
Labels: OpenWrt 22.03

#18131 poemgr: add package
  utils/poemgr/Makefile
Labels: OpenWrt 22.03

#18337 Revert "netatalk: update to version 3.1.13"
  net/netatalk/Makefile
Labels: OpenWrt 19.07

#18610 [openwrt-22.03] haproxy: Update HAProxy to v2.4.17
  net/haproxy/Makefile
  net/haproxy/get-latest-patches.sh
Labels: OpenWrt 22.03

#18611 [openwrt-21.02] haproxy: Update HAProxy to v2.2.24
  net/haproxy/Makefile
  net/haproxy/get-latest-patches.sh
Labels: OpenWrt 21.02

#18603 [openwrt-22.03] vpnc: Update to 0.5.3+git20220517
  net/vpnc/Makefile
Labels: OpenWrt 22.03

#18565 [openwrt-21.02] vpnc: Update to 0.5.3+git20220517
  net/vpnc/Makefile
Labels: OpenWrt 21.02

#18632 libxml2: update to 2.9.14
  libs/libxml2/Makefile
Labels: security

#18630 [21.02] php8: update to 8.0.19
  lang/php8/Makefile
Labels: OpenWrt 21.02

#18649 [openwrt-22.03] pdns-recursor: update to 4.7.0
  net/pdns-recursor/Makefile
  net/pdns-recursor/patches/100-disable-recursor.conf-dist.patch
Labels: OpenWrt 22.03
