Repository openwrt/packages, pull requests merged in 2022-07, with the labels that each got.

#18906 [22.03] libarchive: fix ext2fs build race error condition
  libs/libarchive/Makefile
Labels: OpenWrt 22.03

#18907 [21.02] libarchive: fix ext2fs build race error condition
  libs/libarchive/Makefile
Labels: OpenWrt 21.02

#18908 [19.07] libarchive: fix ext2fs build race error condition
  libs/libarchive/Makefile
Labels: OpenWrt 19.07

#18864 gsocket: add a new package
  net/gsocket/Makefile
  net/gsocket/test.sh
Labels: New package

#19001 [22.03] dawn: update to 2022-07-21
  net/dawn/Makefile
  net/dawn/files/dawn.config
Labels: OpenWrt 22.03

#19002 [21.02] dawn: update to 2022-07-21
  net/dawn/Makefile
  net/dawn/files/dawn.config
Labels: OpenWrt 21.02

#18998 usteer: update to latest HEAD
  net/usteer/Makefile
Labels: OpenWrt 22.03

#19058 [22.03] curl: switch default SSL to mbedTLS
  net/curl/Config.in
Labels: OpenWrt 22.03
