Repository openwrt/packages, pull requests merged in 2022-01, with the labels that each got.

#17476 treewide: add missing BUILDONLY
  libs/libcups/Makefile
  libs/libevhtp/Makefile
  libs/libowfat/Makefile
  libs/libtorrent/Makefile
  libs/nacl/Makefile
  net/lksctp-tools/Makefile
  net/net-snmp/Makefile
  utils/sane-backends/Makefile
Labels: OpenWrt 19.07

#17094 miniupnpd: bump version, drop igdv1 variant, add nftables support
  net/miniupnpd/Makefile
  net/miniupnpd/files/firewall3.include
  net/miniupnpd/files/miniupnpd.defaults.iptables
  net/miniupnpd/patches/100-miniupnpd-configure-don-t-hardcode-iptables.patch
Labels: work needed

#17510 [21.02] wg-installer: add hotplug script for olsr
  net/wg-installer/Makefile
  net/wg-installer/wg-server/hotplug.d/99-mesh-olsrd
Labels: OpenWrt 21.02

#17514 [21.02] wg-installer: add ipv4 support
  net/wg-installer/wg-server/config/wgserver.conf
  net/wg-installer/wg-server/lib/wg_functions.sh
Labels: OpenWrt 21.02

#17537 [21.02] wg-installer: add cleanup script
  net/wg-installer/common/wg.sh
Labels: OpenWrt 21.02

#17528 [21.02] wg-installer: backport fixes
  net/wg-installer/wg-client/wg-client-installer.sh
  net/wg-installer/wg-server/lib/wg_functions.sh
Labels: OpenWrt 21.02

#17540 [21.02] wg-installer: fix typo in cleanup function
  net/wg-installer/common/wg.sh
Labels: OpenWrt 21.02

#17568 [21.02] wg-installer: fix using symlinks for conf files
  net/wg-installer/Makefile
  net/wg-installer/wg-server/hotplug.d/99-mesh-babeld
  net/wg-installer/wg-server/hotplug.d/99-mesh-olsrd
Labels: OpenWrt 21.02

#17577 [openwrt-21.02] golang: Update to 1.17.6
  lang/golang/golang/Makefile
Labels: OpenWrt 21.02

#17597 [21.02] wg-installer: fix shell typo
  net/wg-installer/wg-server/lib/wg_functions.sh
Labels: OpenWrt 21.02

#17538 [21.02] crowdsec: update to 1.2.2
  net/crowdsec/Makefile
Labels: OpenWrt 21.02

#17562 [21.02] crowdsec-firewall-bouncer: update to 0.0.21
  net/crowdsec-firewall-bouncer/Makefile
  net/crowdsec-firewall-bouncer/files/crowdsec-firewall-bouncer.defaults
  net/crowdsec-firewall-bouncer/files/crowdsec-firewall-bouncer.initd
Labels: OpenWrt 21.02

#17499 [21.02] mg: bump to 7.0
  utils/mg/Makefile
Labels: OpenWrt 21.02

#17603 mariadb: update to version 10.4.22
  utils/mariadb/Makefile
  utils/mariadb/patches/130-c11_atomics.patch
  utils/mariadb/patches/140-mips-connect-unaligned.patch
Labels: OpenWrt 21.02

#17619 [21.02] 2to3: add package host tool
  lang/python/2to3/Makefile
  lang/python/2to3/files/2to3.py
  lang/python/2to3/files/copyright
Labels: OpenWrt 21.02

#17628 smcroute: update to version 2.5.5
  net/smcroute/Makefile
Labels: OpenWrt 21.02

#17657 [21.02] wg-installer: create wireguard key if it does not exist
  net/wg-installer/Makefile
  net/wg-installer/wg-server/lib/wg_functions.sh
Labels: OpenWrt 21.02

#17625 [openwrt-21.02] python3: Update to 3.9.10, refresh patches
  lang/python/python3-version.mk
  lang/python/python3/Makefile
  lang/python/python3/patches/006-do-not-add-multiarch-paths-when-cross-compiling.patch
  lang/python/python3/patches/010-do-not-add-rt-lib-dirs-when-cross-compiling.patch
  lang/python/python3/patches/014-remove-platform-so-suffix.patch
  lang/python/python3/patches/015-abort-on-failed-modules.patch
  lang/python/python3/patches/016-adjust-config-paths.patch
Labels: OpenWrt 21.02

#17682 wg-installer: fix multiple namespaces
  net/wg-installer/common/wg.sh
  net/wg-installer/wg-client/wg-client-installer.sh
Labels: OpenWrt 21.02

#17677 [21.02] php8: update to 8.0.15
  lang/php8/Makefile
Labels: OpenWrt 21.02
