Repository openwrt/packages, pull requests merged in 2022-03, with the labels that each got.

#18037 tvheadend: bind to LAN IP by default
  multimedia/tvheadend/files/tvheadend.config
  multimedia/tvheadend/files/tvheadend.init
Labels: OpenWrt 21.02

#18010 [21.02] curl: update to 7.82.0
  net/curl/Makefile
  net/curl/patches/200-no_docs_tests.patch
Labels: OpenWrt 21.02

#18097 [21.02] curl: Fix compiling curl wolfSSL IPv6 disabled
  net/curl/patches/0001-wolfssl-fix-compiler-error-without-IPv6.patch
Labels: OpenWrt 21.02

#18103 haproxy: update to version 2.2.22
  net/haproxy/Makefile
Labels: OpenWrt 21.02

#18118 usteer: add package
  net/usteer/Makefile
Labels: OpenWrt 21.02

#18127 [openwrt-19.07] python3: Update to 3.7.13, refresh patches
  lang/python/python3-version.mk
  lang/python/python3/Makefile
  lang/python/python3/patches-pip/001-pep517-pyc-fix.patch
  lang/python/python3/patches/014-remove-platform-so-suffix.patch
  lang/python/python3/patches/016-adjust-config-paths.patch
  lang/python/python3/patches/025-bpo-34585-Dont-do-runtime-test-to-get-float-byte-order-GH-9085.patch
  lang/python/python3/patches/026-bpo-34585-run-autoconf-GH-9411.patch
Labels: OpenWrt 19.07

#18137 ci: use openwrt/gh-action-sdk@v4
  .github/workflows/multi-arch-test-build.yml
Labels: enhancement, trivial

#18141 [22.03] ci: use openwrt/gh-action-sdk@v4
  .github/workflows/multi-arch-test-build.yml
Labels: OpenWrt 22.03

#18145 [21.02] Samba4 backports from master (Fix CVEs)
  net/samba4/Makefile
  net/samba4/patches/011-samba-4-14-disable-python-module-host-check.patch
  net/samba4/patches/101-do-not-check-xsltproc-manpages.patch
Labels: security, OpenWrt 21.02

#18158 [openwrt-22.03] xray-core: Update to 1.5.4
  net/xray-core/Makefile
Labels: OpenWrt 22.03

#18159 [openwrt-22.03] yq: Update to 4.23.1
  utils/yq/Makefile
Labels: OpenWrt 22.03
