Repository openwrt/packages, pull requests merged in 2022-06, with the labels that each got.

#18651 [22.03] libxml2: update to 2.9.14
  libs/libxml2/Makefile
Labels: security, OpenWrt 22.03

#18652 [22.03] php8: update to 8.1.6
  lang/php8/Makefile
Labels: OpenWrt 22.03

#18653 [21.02] libxml2: update to 2.9.14
  libs/libxml2/Makefile
Labels: security, OpenWrt 21.02

#18647 [openwrt-21.02] yq: Update to 4.25.2
  utils/yq/Makefile
Labels: OpenWrt 21.02

#18645 [openwrt-22.03] yq: Update to 4.25.2
  utils/yq/Makefile
Labels: OpenWrt 22.03

#18627 [OpenWrt 22.03] openwisp-config: update to 1.0.0
  admin/openwisp-config/Makefile
Labels: OpenWrt 22.03

#18626 [OpenWrt 19.07] openwisp-config: update to 1.0.0
  admin/openwisp-config/Makefile
Labels: OpenWrt 19.07

#18672 [22.03] yggdrasil: stop properly
  net/yggdrasil/files/yggdrasil.init
Labels: OpenWrt 22.03

#18671 libxml2: backport 2.9.14 version bump
  libs/libxml2/Makefile
  libs/libxml2/patches/CVE-2019-19956.patch
  libs/libxml2/patches/CVE-2019-20388.patch
  libs/libxml2/patches/CVE-2020-24977.patch
  libs/libxml2/patches/CVE-2020-7595.patch
Labels: OpenWrt 19.07

#18687 patches/packages: netatalk: backport pending PR to fix segfaults
  net/netatalk/Makefile
  net/netatalk/patches/100-fix-segfaults.patch
Labels: OpenWrt 21.02

#18743 [22.03] prometheus-node-exporter-lua: backport recent commits
  utils/prometheus-node-exporter-lua/Makefile
  utils/prometheus-node-exporter-lua/files/etc/config/prometheus-node-exporter-lua
  utils/prometheus-node-exporter-lua/files/etc/init.d/prometheus-node-exporter-lua
  utils/prometheus-node-exporter-lua/files/usr/bin/prometheus-node-exporter-lua
  utils/prometheus-node-exporter-lua/files/usr/lib/lua/prometheus-collectors/hostapd_ubus_stations.lua
  utils/prometheus-node-exporter-lua/files/usr/lib/lua/prometheus-collectors/netclass.lua
  utils/prometheus-node-exporter-lua/files/usr/lib/lua/prometheus-collectors/openwrt.lua
Labels: OpenWrt 22.03

#18762 [22.03] dnsdist: update to 1.7.2
  net/dnsdist/Makefile
Labels: OpenWrt 22.03

#18771 [22.03] prometheus-node-exporter-lua: fix waiting for interface
  utils/prometheus-node-exporter-lua/Makefile
  utils/prometheus-node-exporter-lua/files/etc/init.d/prometheus-node-exporter-lua
Labels: OpenWrt 22.03

#18773 ddns-scripts: mydns.ip to mydns.jp
  net/ddns-scripts/Makefile
  net/ddns-scripts/files/usr/share/ddns/default/mydns.jp.json
  net/ddns-scripts/files/usr/share/ddns/list
Labels: OpenWrt 22.03

#18766 [22.03] django: bump to version 4.0.5
  lang/python/django/Makefile
Labels: OpenWrt 22.03

#18698 [22.03] curl: bump to 7.83.1
  net/curl/Makefile
  net/curl/patches/0001-wolfssl-fix-compiler-error-without-IPv6.patch
  net/curl/patches/200-no_docs_tests.patch
Labels: OpenWrt 22.03

#18699 [21.02] curl: bump to 7.83.1
  net/curl/Makefile
  net/curl/patches/0001-wolfssl-fix-compiler-error-without-IPv6.patch
  net/curl/patches/200-no_docs_tests.patch
Labels: OpenWrt 21.02

#18794 [21.02] php7: update to 7.4.30
  lang/php7/Makefile
Labels: security, OpenWrt 21.02

#18795 [21.02] php8: update to 8.0.20
  lang/php8/Makefile
  lang/php8/patches/0041-Add-patch-to-remove-build-timestamps-from-generated-.patch
Labels: security, OpenWrt 21.02

#18804 [19.07] libgd: install pkgconfig file
  libs/libgd/Makefile
Labels: OpenWrt 19.07

#18820 [21.02] protobuf: fix 022aef6
  libs/protobuf/Makefile
Labels: High, OpenWrt 21.02

#18823 php8: update to 8.1.7
  lang/php8/Makefile
Labels: security
