Repository openwrt/packages, pull requests merged in 2022-09, with the labels that each got.

#19350 [22.03] aria2: Fix aria2.init start issue
  net/aria2/Makefile
  net/aria2/files/aria2.init
Labels: OpenWrt 22.03

#19380 curl: update to 7.85.0
  net/curl/Makefile
  net/curl/patches/100-wolfssl.patch
  net/curl/patches/200-no_docs_tests.patch
Labels: Package update

#19375 midisport-firmware: add package
  multimedia/midisport-firmware/Makefile
  multimedia/midisport-firmware/files/midisport-firmware.hotplug
Labels: New package

#19362 prometheus/collectd: adapt dependencies for the dsl collector
  utils/collectd/Makefile
  utils/prometheus-node-exporter-lua/Makefile
Labels: Depends on PR in other repo

#19412 [22.03] php8: update to 8.1.10
  lang/php8/Makefile
Labels: OpenWrt 22.03

#19381 [22.03] curl: update to 7.85.0
  net/curl/Makefile
  net/curl/patches/100-wolfssl.patch
  net/curl/patches/200-no_docs_tests.patch
Labels: Package update, OpenWrt 22.03

#19408 [21.02] knot: update to version 3.2.1
  net/knot/Makefile
Labels: OpenWrt 21.02

#19400 [openwrt-21.02] libtorrent-rasterbar: Update to 2.0.7
  libs/libtorrent-rasterbar/Makefile
Labels: OpenWrt 21.02

#19399 [openwrt-22.03] libtorrent-rasterbar: Update to 2.0.7
  libs/libtorrent-rasterbar/Makefile
Labels: OpenWrt 22.03

#19271 xz: update to 5.2.6
  utils/xz/Makefile
Labels: needs run-testing

#19436 snowflake: add package
  net/snowflake/Makefile
  net/snowflake/files/snowflake-proxy.init
Labels: New package

#19443 [22.03] snowflake: add package
  net/snowflake/Makefile
  net/snowflake/files/snowflake-proxy.init
Labels: OpenWrt 22.03

#19439 php8-pecl-xdebug: add package (refs #19424)
  lang/php8-pecl-xdebug/Makefile
Labels: New package

#19438 [22.03] squid: fix compilation with libxml (fixes #19099)
  net/squid/patches/020-libxml-drop-xmlSetFeature.patch
Labels: OpenWrt 22.03

#19441 poemgr: update to latest HEAD
  utils/poemgr/Makefile
Labels: OpenWrt 22.03

#19466 [22.03] curl: bugfix: github source url
  net/curl/Makefile
Labels: OpenWrt 22.03
