Repository openwrt/packages, pull requests merged in 2022-04, with the labels that each got.

#18134 openwrt-22.03: openvswitch: bump to 2.15.3
  net/openvswitch/Makefile
  net/openvswitch/openvswitch.mk
  net/openvswitch/patches/0001-netdev-linux-Let-interface-flag-survive-internal-por.patch
Labels: OpenWrt 22.03

#18280 [21.02] php7-pecl-http: update to 3.2.5
  lang/php7-pecl-http/Makefile
Labels: OpenWrt 21.02

#18279 [21.02] php8: update to 8.0.17
  lang/php8/Makefile
Labels: OpenWrt 21.02

#18284 [21.02] php7-pecl-redis: update to 5.3.7
  lang/php7-pecl-redis/Makefile
Labels: OpenWrt 21.02

#18268 ooniprobe: Update to v3.14.2
  net/ooniprobe/Makefile
Labels: needs run-testing

#17455 zabbix: update to version 4.0.37
  admin/zabbix/Makefile
Labels: OpenWrt 19.07

#18343 usteer: update to latest HEAD
  net/usteer/Makefile
Labels: OpenWrt 22.03

#18344 usteer: update to latest HEAD
  net/usteer/Makefile
Labels: OpenWrt 21.02

#18043 delve: Update to 1.8.2
  devel/delve/Makefile
Labels: OpenWrt 21.02

#18140 [21.02] ci: use openwrt/gh-action-sdk@v4
  .github/workflows/multi-arch-test-build.yml
Labels: OpenWrt 21.02

#18350 [22.03] ola: fix compilation with musl 1.2.3
  net/ola/Makefile
  net/ola/patches/030-musl-123.patch
Labels: OpenWrt 22.03

#18353 [19.07] ruby: update to 2.6.10
  lang/ruby/Makefile
Labels: security, OpenWrt 19.07

#18354 [21.02] ruby: update to 3.0.4
  lang/ruby/Makefile
Labels: security, OpenWrt 21.02

#18356 [22.03] ruby: update to 3.0.4
  lang/ruby/Makefile
Labels: OpenWrt 22.03

#18365 ffmpeg: update to version 4.3.4
  multimedia/ffmpeg/Makefile
Labels: OpenWrt 21.02

#18379 [openwrt-21.02] xray-core: Update to 1.5.5
  net/xray-core/Makefile
Labels: OpenWrt 21.02

#18380 [openwrt-22.03] cloudreve: Update to 3.5.1
  net/cloudreve/Makefile
Labels: OpenWrt 22.03

#18378 [openwrt-22.03] xray-core: Update to 1.5.5
  net/xray-core/Makefile
Labels: OpenWrt 22.03

#18383 [22.03] telegraf: Update to version 1.22.2
  utils/telegraf/Makefile
Labels: OpenWrt 22.03

#18382 [21.02] telegraf: Update to version 1.22.2
  utils/telegraf/Makefile
Labels: OpenWrt 21.02

#18262 strongswan: do not force to use iptable-legacy
  net/strongswan/Makefile
Labels: Depends on PR in other repo

#18392 [21.02] php8: update to 8.0.18
  lang/php8/Makefile
Labels: OpenWrt 21.02

#18402 [22.03] django: bump to version 4.0.4
  lang/python/django/Makefile
Labels: OpenWrt 22.03

#18399 [21.02] django: bump to version 3.2.13
  lang/python/django/Makefile
Labels: OpenWrt 21.02

#18396 [22.03] frp: update to 0.42.0
  net/frp/Makefile
Labels: OpenWrt 22.03
