Repository openwrt/packages, pull requests merged in 2022-02, with the labels that each got.

#17666 [21.02] crowdsec-firewall-bouncer: fix name in initd to start the process
  net/crowdsec-firewall-bouncer/Makefile
  net/crowdsec-firewall-bouncer/files/crowdsec-firewall-bouncer.initd
Labels: OpenWrt 21.02

#17776 [21.02] wg-installer: use babeld add_interface function
  net/wg-installer/Makefile
  net/wg-installer/wg-server/hotplug.d/99-mesh-babeld
Labels: OpenWrt 21.02

#17764 [21.02] https-dns-proxy: update to 2021-11-22-1
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
  net/https-dns-proxy/patches/010-fix-cmakelists.patch
Labels: OpenWrt 21.02

#17774 bind: bump to 9.18.0
  net/bind/Makefile
Labels: OpenWrt 21.02

#17756 nss: backport patch for CVE-2021-43527
  libs/nss/Makefile
  libs/nss/patches/012-ensure-der-encoded-signatures-CVE-2021-43527.patch
Labels: OpenWrt 19.07

#17778 bind: update to version 9.16.25
  net/bind/Makefile
Labels: OpenWrt 19.07

#17792 dbus: switching back to autotools to fix big endian issue
  utils/dbus/Makefile
Labels: High

#17812 [21.02] https-dns-proxy: init script refactoring
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 21.02

#17899 [21.02] php7: update to 7.4.28
  lang/php7/Makefile
Labels: OpenWrt 21.02

#17900 [21.02] php8: update to 8.0.16
  lang/php8/Makefile
Labels: OpenWrt 21.02

#17931 [21.02] expat: import patches for CVEs
  libs/expat/Makefile
  libs/expat/patches/CVE-2021-45960.patch
  libs/expat/patches/CVE-2021-46143.patch
  libs/expat/patches/CVE-2022-22822.patch
  libs/expat/patches/CVE-2022-23852.patch
  libs/expat/patches/CVE-2022-23990.patch
  libs/expat/patches/CVE-2022-25235.patch
  libs/expat/patches/CVE-2022-25236.patch
  libs/expat/patches/CVE-2022-25313.patch
  libs/expat/patches/CVE-2022-25314.patch
  libs/expat/patches/CVE-2022-25315.patch
Labels: security
