Repository openwrt/packages, pull requests merged in 2022-12, with the labels that each got.

#19994 [22.03] simple-adblock: localizable error/warning messages
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#19997 libqmi: fix build regressions
  libs/libqmi/Config.in
  libs/libqmi/Makefile
Labels: OpenWrt 21.02

#19763 pbr: initial commit
  net/pbr/Makefile
  net/pbr/files/README.md
  net/pbr/files/etc/config/pbr
  net/pbr/files/etc/config/pbr.iptables
  net/pbr/files/etc/hotplug.d/firewall/70-pbr
  net/pbr/files/etc/hotplug.d/iface/70-pbr
  net/pbr/files/etc/init.d/pbr.init
  net/pbr/files/etc/uci-defaults/90-pbr
  net/pbr/files/etc/uci-defaults/91-pbr
  net/pbr/files/usr/share/nftables.d/chain-post/mangle_forward/30-pbr.nft
  net/pbr/files/usr/share/nftables.d/chain-post/mangle_input/30-pbr.nft
  net/pbr/files/usr/share/nftables.d/chain-post/mangle_output/30-pbr.nft
  net/pbr/files/usr/share/nftables.d/chain-post/mangle_postrouting/30-pbr.nft
  net/pbr/files/usr/share/nftables.d/chain-post/mangle_prerouting/30-pbr.nft
  net/pbr/files/usr/share/nftables.d/table-post/30-pbr.nft
  net/pbr/files/usr/share/pbr/pbr.firewall.include
  net/pbr/files/usr/share/pbr/pbr.user.aws
  net/pbr/files/usr/share/pbr/pbr.user.netflix
  net/pbr/test.sh
  net/vpn-policy-routing/Makefile
  net/vpn-policy-routing/files/README.md
  net/vpn-policy-routing/files/vpn-policy-routing.aws.user
  net/vpn-policy-routing/files/vpn-policy-routing.config
  net/vpn-policy-routing/files/vpn-policy-routing.firewall.hotplug
  net/vpn-policy-routing/files/vpn-policy-routing.init
  net/vpn-policy-routing/files/vpn-policy-routing.netflix.user
  net/vpnbypass/Makefile
  net/vpnbypass/files/README.md
  net/vpnbypass/files/vpnbypass.config
  net/vpnbypass/files/vpnbypass.hotplug
  net/vpnbypass/files/vpnbypass.init
  net/vpnbypass/test.sh
Labels: New package

#20010 [22.03] pbr: initial commit
  net/pbr/Makefile
  net/pbr/files/README.md
  net/pbr/files/etc/config/pbr
  net/pbr/files/etc/config/pbr.iptables
  net/pbr/files/etc/hotplug.d/firewall/70-pbr
  net/pbr/files/etc/hotplug.d/iface/70-pbr
  net/pbr/files/etc/init.d/pbr.init
  net/pbr/files/etc/uci-defaults/90-pbr
  net/pbr/files/etc/uci-defaults/91-pbr
  net/pbr/files/usr/share/nftables.d/chain-post/mangle_forward/30-pbr.nft
  net/pbr/files/usr/share/nftables.d/chain-post/mangle_input/30-pbr.nft
  net/pbr/files/usr/share/nftables.d/chain-post/mangle_output/30-pbr.nft
  net/pbr/files/usr/share/nftables.d/chain-post/mangle_postrouting/30-pbr.nft
  net/pbr/files/usr/share/nftables.d/chain-post/mangle_prerouting/30-pbr.nft
  net/pbr/files/usr/share/nftables.d/table-post/30-pbr.nft
  net/pbr/files/usr/share/pbr/pbr.firewall.include
  net/pbr/files/usr/share/pbr/pbr.user.aws
  net/pbr/files/usr/share/pbr/pbr.user.netflix
  net/pbr/test.sh
  net/vpn-policy-routing/Makefile
  net/vpn-policy-routing/files/README.md
  net/vpn-policy-routing/files/vpn-policy-routing.aws.user
  net/vpn-policy-routing/files/vpn-policy-routing.config
  net/vpn-policy-routing/files/vpn-policy-routing.firewall.hotplug
  net/vpn-policy-routing/files/vpn-policy-routing.init
  net/vpn-policy-routing/files/vpn-policy-routing.netflix.user
  net/vpnbypass/Makefile
  net/vpnbypass/files/README.md
  net/vpnbypass/files/vpnbypass.config
  net/vpnbypass/files/vpnbypass.hotplug
  net/vpnbypass/files/vpnbypass.init
  net/vpnbypass/test.sh
Labels: OpenWrt 22.03

#19445 [21.02] snowflake: add package
  net/snowflake/Makefile
  net/snowflake/files/snowflake-proxy.init
Labels: OpenWrt 21.02

#20051 [22.03] simple-adblock: support new OISD dnsmasq config
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#20043 [22.03] https-dns-proxy: add mdns service records
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#20053 [22.03] https-dns-proxy: fix restart
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#20073 ruby: update to 3.0.5
  lang/ruby/Makefile
Labels: OpenWrt 22.03

#20077 [22.03] simple-adblock: bugfix: add dnsmasq.nftset to uci_load_validate
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#20074 ruby: update to 3.0.5
  lang/ruby/Makefile
Labels: OpenWrt 21.02

#20071 [22.03] syncthing: update to 1.22.2
  utils/syncthing/Makefile
Labels: OpenWrt 22.03

#20063 [22.03] pbr: detect missing iptables
  net/pbr/Makefile
  net/pbr/files/etc/init.d/pbr.init
Labels: OpenWrt 22.03

#20017 stress-ng: adjust build with xxhash & libegl
  utils/stress-ng/patches/001-disable-xxhash-and-libegl-stressors.patch
Labels: OpenWrt 22.03

#20048 [22.03] lxc-auto: made init script compatible with image builder
  utils/lxc/files/lxc-auto.init
Labels: OpenWrt 22.03

#20114 [22.03] pbr: update to 1.0.1-1
  net/pbr/Makefile
  net/pbr/files/etc/init.d/pbr.init
Labels: OpenWrt 22.03

#20119 exfatprogs: update to version 1.2.0
  utils/exfatprogs/Makefile
Labels: update, trivial

#20122 libowfat: update to version 0.33
  libs/libowfat/Makefile
  libs/libowfat/patches/001-fixbuild.patch
  libs/libowfat/patches/010-gcc10.patch
  libs/libowfat/patches/012-remove-deprecated.patch
  libs/libowfat/patches/020-cflags.patch
  libs/libowfat/patches/030-pure.patch
Labels: update

#20117 lvm2: update LVM2 to 2.03.17 and DM to 1.02.187
  utils/lvm2/Makefile
  utils/lvm2/patches/002-const-stdio.patch
  utils/lvm2/patches/003-no-mallinfo.patch
  utils/lvm2/patches/004-missing-includes.patch
Labels: update

#20116 ccid: update to version 1.5.1
  utils/ccid/Makefile
Labels: update, trivial

#20123 postgresql: update to version 14.6
  libs/postgresql/Makefile
  libs/postgresql/patches/700-no-arm-crc-march-change.patch
Labels: update, trivial

#20160 [22.03] pbr: bugfix: Makefile, rt_tables fix
  net/pbr/Makefile
  net/pbr/files/etc/init.d/pbr.init
Labels: OpenWrt 22.03

#20146 MarkupSafe: update to version 2.1.1
  lang/python/MarkupSafe/Makefile
Labels: update, trivial

#20148 Werkzeug: update to version 2.2.2
  lang/python/Werkzeug/Makefile
Labels: update, trivial

#20147 itsdangerous: update to version 2.1.2
  lang/python/itsdangerous/Makefile
Labels: update, trivial
