Repository openwrt/packages, pull requests merged in 2022-10, with the labels that each got.

#19469 [22.03] simple-adblock: update to 1.9.1-1
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.conf.update
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#19490 [22.03] https-dns-proxy: uci wrappers & iCloud canary domains
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#19359 [openwrt-22.03] nextdns: initialize nextdns from /etc/uci-defaults
  net/nextdns/Makefile
  net/nextdns/files/nextdns.defaults
Labels: OpenWrt 22.03

#19502 [22.03] simple-adblock: allow domains bugfix & canary domains support
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#19513 treewide: fix security issues by bumping all packages using libwolfssl
  lang/lua-eco/Makefile
  libs/libuhttpd/Makefile
  libs/libuwsc/Makefile
  net/coova-chilli/Makefile
  net/curl/Makefile
  net/lighttpd/Makefile
  net/openvpn/Makefile
  net/strongswan/Makefile
  net/wifidog/Makefile
  utils/rtty/Makefile
Labels: security

#19516 [22.03] php8: update to 8.1.11
  lang/php8/Makefile
Labels: security, OpenWrt 22.03

#19517 [21.02] php7: update to 7.4.32
  lang/php7/Makefile
Labels: security, OpenWrt 21.02

#19518 [21.02] php8: update to 8.0.24
  lang/php8/Makefile
  lang/php8/patches/0041-Add-patch-to-remove-build-timestamps-from-generated-.patch
Labels: security, OpenWrt 21.02

#19528 [22.03] https-dns-proxy: add settings for canary domains
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.config
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#19521 [22.03] treewide: fix security issues by bumping all packages using libwolfssl
  libs/libuhttpd/Makefile
  libs/libuwsc/Makefile
  net/coova-chilli/Makefile
  net/curl/Makefile
  net/lighttpd/Makefile
  net/openvpn/Makefile
  net/strongswan/Makefile
  net/wifidog/Makefile
  utils/rtty/Makefile
Labels: security, Stable branch, blocked, OpenWrt 22.03

#19463 [21.02] tor: update to 0.4.7.10
  net/tor/Makefile
Labels: OpenWrt 21.02

#19536 [21.02] treewide: fix security issues by bumping all packages using libwolfssl
  libs/libuhttpd/Makefile
  libs/libuwsc/Makefile
  net/coova-chilli/Makefile
  net/curl/Makefile
  net/lighttpd/Makefile
  net/openvpn/Makefile
  net/strongswan/Makefile
  net/wifidog/Makefile
  utils/rtty/Makefile
Labels: security, Stable branch, blocked, OpenWrt 21.02

#19544 [22.03] https-dns-proxy: update to 2022-08-12-1
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
  net/https-dns-proxy/patches/010-fix-cmakelists.patch
Labels: OpenWrt 22.03

#19581 [21.02] curl: error out if wolfSSL is not usable
  net/curl/patches/300-curl-wolfssl.m4-error-out-if-wolfSSL-is-not-usable.patch
Labels: OpenWrt 21.02

#19577 wget: update to 1.21.3
  net/wget/Makefile
  net/wget/patches/100-fix-hsts-time.patch
Labels: work needed

#19614 libxml2: update to 2.10.3
  libs/libxml2/Makefile
Labels: security

#19612 [22.03] https-dns-proxy: upstream bugfix for ca_info
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#19619 [22.03] libxml2: update to 2.10.3
  libs/libxml2/Makefile
Labels: security, OpenWrt 22.03

#19626 [22.03] simple-adblock: update to 1.9.2-1
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#19604 [22.03] nebula: implement netifd support
  net/nebula/Makefile
  net/nebula/files/nebula.init
  net/nebula/files/nebula.proto
  net/nebula/test.sh
Labels: OpenWrt 22.03

#19636 [22.03] https-dns-proxy: bugfix: remove canary domains
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#19659 [22.03] simple-adblock: remove unnecessary procd_add_reload_interface_trigger
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#19661 [22.03] https-dns-proxy: bugfix: prevent creation of empty interface trigger
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#19275 gnupg: update to 2.2.39
  utils/gnupg2/Makefile
Labels: needs run-testing

#19459 libmariadb: update to 3.1.18
  libs/libmariadb/Makefile
  libs/libmariadb/patches/0001-libmariadb-fix-cmake.patch
Labels: needs run-testing

#19692 [22.03] https-dns-proxy: bugfix: restore empty server; misc improvements
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#19697 [22.03] simple-adblock: service_triggers improvements
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#19700 [22.03] https-dns-proxy: add version information to binary
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
  net/https-dns-proxy/patches/010-cmakelists-remove-cflags.patch
  net/https-dns-proxy/patches/020-cmakelists-add-version.patch
  net/https-dns-proxy/test.sh
Labels: OpenWrt 22.03
