Repository openwrt/packages, pull requests merged in 2022-11, with the labels that each got.

#19759 [22.03] curl: include nls.mk
  net/curl/Makefile
Labels: OpenWrt 22.03

#19769 php8: update to 8.1.12
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: security

#19761 libunistring: Update to 1.1
  libs/libunistring/Makefile
Labels: needs run-testing

#19762 owntone: Update to 28.5
  sound/owntone/Makefile
Labels: needs run-testing

#19708 [22.03] https-dns-proxy: rename options
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.config
  net/https-dns-proxy/files/https-dns-proxy.defaults
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#19710 [22.03] simple-adblock: rename wan6_trigger option
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#19793 [22.03] curl: update to 7.86.0
  net/curl/Makefile
  net/curl/patches/300-curl-wolfssl.m4-error-out-if-wolfSSL-is-not-usable.patch
Labels: OpenWrt 22.03

#19835 [22.03] php8: update to 8.1.12
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: security, OpenWrt 22.03

#19861 [22.03] simple-adblock: update to 1.9.2-4
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#19869 [21.02] golang: update to version 1.17.13
  lang/golang/golang/Makefile
Labels: security, OpenWrt 21.02

#19871 qcsuper: add package with dependencies
  lang/python/python-crcmod/Makefile
  lang/python/python-pycrate/Makefile
  net/qcsuper/Makefile
Labels: OpenWrt 22.03

#19870 golang: update to version 1.18.8
  lang/golang/golang/Makefile
  lang/golang/golang/patches/001-cmd-link-use-gold-on-ARM-ARM64-only-if-gold-is-available.patch
Labels: security

#19648 [21.02] Backport fixes for modem-manager and its dependencies
  libs/libmbim/Makefile
  libs/libqmi/Makefile
  net/modemmanager/Makefile
  net/modemmanager/files/10-report-down
  net/modemmanager/files/25-modemmanager-net
  net/modemmanager/files/25-modemmanager-tty
  net/modemmanager/files/25-modemmanager-wwan
  net/modemmanager/files/modemmanager.common
  net/modemmanager/files/modemmanager.init
  net/modemmanager/files/modemmanager.proto
  net/modemmanager/files/usr/sbin/ModemManager-wrapper
Labels: OpenWrt 21.02

#19913 [21.02] php7: update to 7.4.33
  lang/php7/Makefile
Labels: security, OpenWrt 21.02

#19914 [21.02] php8: update to 8.0.25
  lang/php8/Makefile
Labels: security, OpenWrt 21.02

#19901 [22.03] simple-adblock: update to 1.9.3-1
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#19957 [22.03] https-dns-proxy: update Makefile package descrition
  net/https-dns-proxy/Makefile
Labels: OpenWrt 22.03

#19652 golang: update to v1.19.2
  lang/golang/golang/Makefile
  lang/golang/golang/patches/001-cmd-link-use-gold-on-ARM-ARM64-only-if-gold-is-available.patch
Labels: needs run-testing

#19919 CI: deprecate $(AUTORELEASE) via comments
  .github/workflows/check-autorelease-deprecation.yml
Labels: Testing

#19986 [22.03] https-dns-proxy: improve performance on restart
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#19988 [22.03] simple-adblock: bugfix: detect dnsmasq ipset support
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03
