Repository openwrt/packages, pull requests merged in 2023-11, with the labels that each got.

#22559 [openwrt-23.05] rust: Fix compile error if build dir and DL_DIR on separate filesystems, compile error for mipsel_24kc+24kf
  lang/rust/Makefile
  lang/rust/patches/0002-rustc-bootstrap-cache.patch
Labels: OpenWrt 23.05

#22581 [openwrt-23.05] pyodbc: Fix segmentation fault
  lang/python/pyodbc/Makefile
Labels: OpenWrt 23.05

#22611 [23.05] php8: update to 8.2.12
  lang/php8/Makefile
Labels: OpenWrt 23.05

#22439 iperf3: Fix dependecy conflict with iperf3-ssl
  net/iperf3/Makefile
Labels: response needed

#22634 tang: set the right permissions to keys
  utils/tang/Makefile
  utils/tang/files/tang.init
Labels: needs run-testing

#22620 [23.05] adblock-fast: update to 1.0.1-1
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
  net/adblock-fast/files/etc/uci-defaults/90-adblock-fast
Labels: OpenWrt 23.05

#22547 [23.05] perl: add support for riscv64
  lang/perl/Makefile
  lang/perl/files/riscv64.config
Labels: OpenWrt 23.05

#22656 [23.05] adblock-fast: bugfix: ensure downloaded block-lists end with newline
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22661 [openwrt-23.05] golang: Update to 1.21.4
  lang/golang/golang/Makefile
Labels: OpenWrt 23.05

#22668 [23.05] pymysql: add meta-package for sha256 support
  lang/python/pymysql/Config.in
  lang/python/pymysql/Makefile
Labels: OpenWrt 23.05

#22670 [openwrt-23.05] freeradius3: Fix build when pcre is present
  net/freeradius3/Makefile
Labels: OpenWrt 23.05

#22738 [22.03] https-dns-proxy: bugfix: prevent erros from boot()
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
Labels: OpenWrt 22.03

#22739 [23.05] https-dns-proxy: bugfix: prevent erros from boot()
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
Labels: OpenWrt 23.05

#22741 [23.05] adblock-fast: bufgix: fix boot()
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/config/adblock-fast
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22754 [23.05] adblock-fast: bugfix: call to missing function
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22747 [22.03] https-dns-proxy: fix unintentional call of service_stopped in boot()
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
Labels: OpenWrt 22.03

#22748 [23.05] https-dns-proxy: fix unintentional call of service_stopped in boot()
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
Labels: OpenWrt 23.05

#22749 netifyd: Updated to v4.4.7
  net/netifyd/Config.in
  net/netifyd/Makefile
Labels: OpenWrt 23.05
