Repository openwrt/packages, pull requests merged in 2023-06, with the labels that each got.

#21195 python-yarl: Update to 1.9.2
  lang/python/python-yarl/Makefile
Labels: needs run-testing

#21193 python3-bottle: Update to 0.12.25
  lang/python/python3-bottle/Makefile
Labels: needs run-testing

#21315 acme-acmesh: Bump to version 3.0.6
  net/acme-acmesh/Makefile
Labels: security, OpenWrt 23.05

#21316 net/acme: Bump acme.sh to v3.0.6
  net/acme/Makefile
Labels: security, OpenWrt 21.02 (end-of-support)

#21314 net/acme: Bump acme.sh to v3.0.6
  net/acme/Makefile
Labels: security, OpenWrt 22.03

#21313 acme-acmesh: Bump to version 3.0.6
  net/acme-acmesh/Makefile
Labels: security

#21277 [openwrt-23.05] lcd4linux: fix build error for custom build
  utils/lcd4linux/Makefile
Labels: OpenWrt 23.05

#21382 [22.03] php8: update to 8.1.20
  lang/php8/Makefile
Labels: OpenWrt 22.03

#21381 [23.05] php8: update to 8.2.7
  lang/php8/Makefile
Labels: OpenWrt 23.05

#21390 [23.05] icu: bump to 73.2
  libs/icu/Makefile
Labels: OpenWrt 23.05

#21396 [openwrt-23.05] packr: remove package
  devel/packr/Makefile
Labels: OpenWrt 23.05

#21394 [23.05] libuv: bump to 1.45.0
  libs/libuv/Makefile
Labels: OpenWrt 23.05

#21283 [22.03] curl: update to 8.1.2
  net/curl/Makefile
Labels: OpenWrt 22.03

#21284 [23.05] curl: update to 8.1.2
  net/curl/Makefile
Labels: OpenWrt 23.05

#21397 [21.02] php8: update to 8.0.29
  lang/php8/Makefile
Labels: OpenWrt 21.02 (end-of-support)

#21412 [22.03] https-dns-proxy: update to 2023-05-25-2
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#21413 [23.05] https-dns-proxy: update to 2023-05-25-2
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 23.05

#21376 [22.03] c-ares: bump to 1.19.1
  libs/c-ares/Makefile
Labels: security, OpenWrt 22.03
