Repository openwrt/packages, pull requests merged in 2023-07, with the labels that each got.

#21560 [23.05] php8: update to 8.2.8
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: OpenWrt 23.05

#21559 [22.03] php8: update to 8.1.21
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: OpenWrt 22.03

#21567 tailscale: update to 1.44.0
  net/tailscale/Makefile
  net/tailscale/patches/010-fake_iptables.patch
Labels: OpenWrt 23.05

#21596 [openwrt-23.05] golang: Update to 1.20.6
  lang/golang/golang-build.sh
  lang/golang/golang-compiler.mk
  lang/golang/golang-host-build.mk
  lang/golang/golang-package.mk
  lang/golang/golang-values.mk
  lang/golang/golang/Makefile
  lang/golang/golang/files/go-gcc-helper
  lang/golang/golang/test.sh
Labels: OpenWrt 23.05

#21587 [openwrt-23.05] python-mako: Re-import host-only package from abandoned packages repo
  lang/python/python-mako/Makefile
Labels: OpenWrt 23.05

#21446 snowflake: update to 2.6.0
  net/snowflake/Makefile
  net/snowflake/patches/0001-Bump-minimum-required-version-of-go.patch
  net/snowflake/patches/0002-Update-dependencies.patch
Labels: needs run-testing

#21588 [openwrt-23.05] python-babel: Update to 2.12.1, add host build
  lang/python/python-babel/Makefile
Labels: OpenWrt 23.05

#21573 [openwrt-23.05] adguardhome: bump to 0.107.33
  net/adguardhome/Makefile
Labels: OpenWrt 23.05

#21629 [22.03] simple-adblock: dnsmasq access bugfix & misc improvements
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.conf.update
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#21630 [23.05] simple-adblock: dnsmasq access bugfix & misc improvements
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.conf.update
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 23.05

#21432 [23.05] nebula: update to 1.7.2 (and cosmetic fixes)
  net/nebula/Makefile
  net/nebula/files/nebula.init
  net/nebula/files/nebula.proto
  net/nebula/test.sh
Labels: OpenWrt 23.05

#21632 [22.03] https-dns-proxy: improve CLI messaging
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#21633 [23.05] https-dns-proxy: improve CLI messaging
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 23.05

#21645 [openwrt-23.05] python3-netifaces: Update to 0.11.0, rename source package
  lang/python/python-netifaces/Makefile
Labels: OpenWrt 23.05

#21646 [openwrt-23.05] python3-unidecode: Update to 1.3.6, rename source package
  lang/python/python-unidecode/Makefile
Labels: OpenWrt 23.05

#21657 [openwrt-23.05] python-aiohttp: Update to 3.8.5, add new dependencies
  lang/python/python-aiohttp/Makefile
  lang/python/python-aiosignal/Makefile
  lang/python/python-charset-normalizer/Makefile
  lang/python/python-frozenlist/Makefile
Labels: OpenWrt 23.05

#21656 [openwrt-23.05] python-async-timeout: Update to 4.0.2
  lang/python/python-async-timeout/Makefile
Labels: OpenWrt 23.05

#21655 [openwrt-23.05] python3-sqlparse: Update to 0.4.4, rename source package
  lang/python/python-sqlparse/Makefile
Labels: OpenWrt 23.05

#21665 [openwrt-23.05] python-wheel: Update to 0.41.0
  lang/python/python-wheel/Makefile
Labels: OpenWrt 23.05

#21658 [openwrt-23.05] python-execnet: Update to 2.0.2
  lang/python/python-execnet/Makefile
Labels: OpenWrt 23.05

#21654 [openwrt-23.05] python3-pyroute2: Update to 0.7.9, rename source package
  lang/python/python-pyroute2/Makefile
Labels: OpenWrt 23.05

#21664 [openwrt-23.05] python-pip: Update to 23.2.1
  lang/python/python-pip/Makefile
Labels: OpenWrt 23.05

#21663 [openwrt-23.05] python-gnupg: Update to 0.5.1
  lang/python/python-gnupg/Makefile
Labels: OpenWrt 23.05

#21661 [openwrt-23.05] python-awesomeversion: Update to 23.5.0, update dependencies
  lang/python/python-awesomeversion/Makefile
Labels: OpenWrt 23.05

#21660 [openwrt-23.05] python-atomicwrites: Update to 1.4.1
  lang/python/python-atomicwrites/Makefile
Labels: OpenWrt 23.05

#21659 [openwrt-23.05] python-apipkg: Update to 3.0.1
  lang/python/python-apipkg/Makefile
Labels: OpenWrt 23.05

#21653 [openwrt-23.05] python3-maxminddb: Update to 2.4.0, rename source package
  lang/python/python-maxminddb/Makefile
Labels: OpenWrt 23.05
