Repository openwrt/packages, pull requests merged in 2023-03, with the labels that each got.

#20578 haproxy: update to v2.4.22
  net/haproxy/Makefile
  net/haproxy/get-latest-patches.sh
Labels: OpenWrt 22.03

#20579 haproxy: update to v2.2.29
  net/haproxy/Makefile
  net/haproxy/get-latest-patches.sh
Labels: OpenWrt 21.02

#20607 crowdsec-firewall-bouncer: update to 0.0.25
  net/crowdsec-firewall-bouncer/Makefile
  net/crowdsec-firewall-bouncer/files/crowdsec-firewall-bouncer.defaults
  net/crowdsec-firewall-bouncer/files/crowdsec-firewall-bouncer.firewall
  net/crowdsec-firewall-bouncer/files/crowdsec-firewall-bouncer.initd
  net/crowdsec-firewall-bouncer/files/crowdsec.config
  net/crowdsec-firewall-bouncer/patches/001-fix_config_iptables_chains.patch
Labels: OpenWrt 22.03

#20541 [22.03] curl: update to 7.88.1
  lang/perl-www-curl/patches/230-curl_7.88_compat.patch
  net/curl/Makefile
Labels: OpenWrt 22.03

#20646 [22.03] simple-adblock: update init file and config
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#20627 miniupnpd: bump to 2.3.3
  net/miniupnpd/Makefile
Labels: OpenWrt 22.03

#20665 php8: update to 8.2.3
  lang/php8/Makefile
Labels: security

#20666 [22.03] php8: update to 8.1.16
  lang/php8/Makefile
Labels: security, OpenWrt 22.03

#20667 [21.02] php8: update to 8.0.28
  lang/php8/Makefile
Labels: security, OpenWrt 21.02

#20675 [openwrt-22.03] golang: Update to 1.19.7
  lang/golang/golang-values.mk
  lang/golang/golang/Makefile
Labels: OpenWrt 22.03

#20612 [22.03] yt-dlp: update to 2023.3.4
  multimedia/yt-dlp/Makefile
Labels: OpenWrt 22.03

#20678 strongswan: backport CVE fix
  net/strongswan/Makefile
  net/strongswan/patches/730-strongswan-5.1.0-5.9.7_cert_online_validate.patch
Labels: OpenWrt 22.03
