Repository openwrt/packages, pull requests merged in 2023-09, with the labels that each got.

#21970 [openwrt-23.05] python-rsa: Update to 4.9, update list of dependencies
  lang/python/python-rsa/Makefile
Labels: OpenWrt 23.05

#21971 [openwrt-23.05] python-schedule: Update to 1.2.0
  lang/python/python-schedule/Makefile
Labels: OpenWrt 23.05

#21972 [openwrt-23.05] python-schema: Update to 0.7.5
  lang/python/python-schema/Makefile
Labels: OpenWrt 23.05

#21973 [openwrt-23.05] python-sentry-sdk: Update to 1.29.2, update list of dependencies
  lang/python/python-sentry-sdk/Makefile
Labels: OpenWrt 23.05

#21974 [openwrt-23.05] python-slugify: Update to 8.0.1, update list of dependencies
  lang/python/python-slugify/Makefile
Labels: OpenWrt 23.05

#21975 [openwrt-23.05] python-sqlalchemy: Update to 2.0.20, update list of dependencies
  lang/python/python-sqlalchemy/Makefile
Labels: OpenWrt 23.05

#21976 [openwrt-23.05] python-tornado: Update to 6.3.3, update list of dependencies
  lang/python/python-tornado/Makefile
Labels: OpenWrt 23.05

#21977 [openwrt-23.05] python-trio: Update to 0.22.2, update list of dependencies
  lang/python/python-trio/Makefile
Labels: OpenWrt 23.05

#21978 [openwrt-23.05] mpfr: Update to 4.2.1
  libs/mpfr/Makefile
Labels: OpenWrt 23.05

#21979 [openwrt-23.05] python-pluggy: Update to 1.3.0
  lang/python/python-pluggy/Makefile
Labels: OpenWrt 23.05

#21980 [openwrt-23.05] python-wheel: Update to 0.41.2
  lang/python/python-wheel/Makefile
Labels: OpenWrt 23.05

#22018 [22.03] https-dns-proxy: fix dns resolution not working on boot
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/config/https-dns-proxy
  net/https-dns-proxy/files/etc/hotplug.d/online/30-https-dns-proxy
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/files/etc/uci-defaults/50-https-dns-proxy-migrate-options.sh
  net/https-dns-proxy/files/https-dns-proxy.hotplug.iface
Labels: OpenWrt 22.03

#21943 adblock-fast: initial commit
  net/adblock-fast/Makefile
  net/adblock-fast/files/README.md
  net/adblock-fast/files/adblock-fast.config.update
  net/adblock-fast/files/etc/config/adblock-fast
  net/adblock-fast/files/etc/init.d/adblock-fast
  net/adblock-fast/files/etc/uci-defaults/90-adblock-fast
  net/adblock-fast/test.sh
  net/simple-adblock/Makefile
  net/simple-adblock/files/README.md
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.hotplug
Labels: New package

#22017 [23.05] adblock-fast: initial commit
  net/adblock-fast/Makefile
  net/adblock-fast/files/README.md
  net/adblock-fast/files/adblock-fast.config.update
  net/adblock-fast/files/etc/config/adblock-fast
  net/adblock-fast/files/etc/init.d/adblock-fast
  net/adblock-fast/files/etc/uci-defaults/90-adblock-fast
  net/adblock-fast/test.sh
  net/simple-adblock/Makefile
  net/simple-adblock/files/README.md
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.hotplug
Labels: OpenWrt 23.05

#22021 [openwrt-23.05] python-ubus: Update to 0.1.2
  lang/python/python-ubus/Makefile
Labels: OpenWrt 23.05

#22022 [openwrt-23.05] python-urllib3: Update to 2.0.4
  lang/python/python-urllib3/Makefile
Labels: OpenWrt 23.05

#22023 [openwrt-23.05] python-voluptuous: Update to 0.13.1, update list of dependencies
  lang/python/python-voluptuous/Makefile
Labels: OpenWrt 23.05

#22026 [openwrt-23.05] python-wcwidth: Update to 0.2.6
  lang/python/python-wcwidth/Makefile
Labels: OpenWrt 23.05

#22028 [openwrt-23.05] python-websockets: Update to 11.0.3, update list of dependencies
  lang/python/python-websockets/Makefile
Labels: OpenWrt 23.05

#22050 [openwrt-22.03] python3: Update to 3.10.13
  lang/python/python3-version.mk
  lang/python/python3/Makefile
Labels: OpenWrt 22.03

#22051 [openwrt-21.02] python3: Update to 3.9.18
  lang/python/python3-version.mk
  lang/python/python3/Makefile
Labels: OpenWrt 21.02 (end-of-support)

#22068 [openwrt-23.05] slang2: Avoid building dependencies unless necessary, remove pcre module
  libs/slang2/Makefile
Labels: OpenWrt 23.05

#22084 [openwrt-22.03] golang: Update to 1.19.13
  lang/golang/golang/Makefile
Labels: OpenWrt 22.03

#22078 [openwrt-23.05] xmltodict: Update to 0.13.0, rename source package
  lang/python/python-xmltodict/Makefile
Labels: OpenWrt 23.05

#22075 [openwrt-23.05] python-zeroconf: Update to 0.97.0, update list of dependencies
  lang/python/python-zeroconf/Makefile
Labels: OpenWrt 23.05

#22048 [openwrt-23.05] python3: Restore platform triplet to paths
  lang/python/python-package-install.sh
  lang/python/python3-package.mk
  lang/python/python3/Makefile
  lang/python/python3/files/python3-package-asyncio.mk
  lang/python/python3/files/python3-package-cgi.mk
  lang/python/python3/files/python3-package-codecs.mk
  lang/python/python3/files/python3-package-ctypes.mk
  lang/python/python3/files/python3-package-dbm.mk
  lang/python/python3/files/python3-package-decimal.mk
  lang/python/python3/files/python3-package-dev.mk
  lang/python/python3/files/python3-package-distutils.mk
  lang/python/python3/files/python3-package-email.mk
  lang/python/python3/files/python3-package-lib2to3.mk
  lang/python/python3/files/python3-package-logging.mk
  lang/python/python3/files/python3-package-lzma.mk
  lang/python/python3/files/python3-package-multiprocessing.mk
  lang/python/python3/files/python3-package-ncurses.mk
  lang/python/python3/files/python3-package-openssl.mk
  lang/python/python3/files/python3-package-pydoc.mk
  lang/python/python3/files/python3-package-readline.mk
  lang/python/python3/files/python3-package-sqlite3.mk
  lang/python/python3/files/python3-package-unittest.mk
  lang/python/python3/files/python3-package-urllib.mk
  lang/python/python3/files/python3-package-uuid.mk
  lang/python/python3/files/python3-package-venv.mk
  lang/python/python3/files/python3-package-xml.mk
  lang/python/python3/patches/014-remove-platform-so-suffix.patch
  lang/python/python3/patches/016-adjust-config-paths.patch
  lang/python/python3/patches/100-gh-95855-Refactor-platform-triplet-detection-code-GH-107221.patch
  lang/python/python3/patches/131-configure_ac-switch-PLATFORM_TRIPLET-suffix-to-musl.patch
Labels: OpenWrt 23.05

#22074 [openwrt-23.05] python-yaml: Update to 6.0.1
  lang/python/python-yaml/Makefile
Labels: OpenWrt 23.05

#22076 [openwrt-23.05] python-zipp: Update to 3.16.2, update list of dependencies
  lang/python/python-zipp/Makefile
Labels: OpenWrt 23.05

#22077 [openwrt-23.05] ruamel-yaml: Update to 0.17.32, rename source package
  lang/python/python-ruamel-yaml/Makefile
Labels: OpenWrt 23.05

#22079 [openwrt-23.05] python-cryptodome: Update to 3.18.0, refresh patches
  lang/python/python-cryptodome/Makefile
  lang/python/python-cryptodome/patches/001-fix-libgmp-loading.patch
  lang/python/python-cryptodome/patches/002-omit-tests.patch
Labels: OpenWrt 23.05

#22080 [openwrt-23.05] python-cryptodomex: Update to 3.18.0, refresh patches
  lang/python/python-cryptodomex/Makefile
  lang/python/python-cryptodomex/patches/001-fix-libgmp-loading.patch
  lang/python/python-cryptodomex/patches/002-omit-tests.patch
Labels: OpenWrt 23.05

#22081 [openwrt-23.05] python-pyserial: Update to 3.5, update list of dependencies
  lang/python/python-pyserial/Makefile
Labels: OpenWrt 23.05

#22082 [openwrt-23.05] python-crcmod: Fix package section
  lang/python/python-crcmod/Makefile
Labels: OpenWrt 23.05

#22108 [openwrt-23.05] rust: Move RUST_ARCH_DEPENDS into rust-values.mk
  lang/rust/rust-package.mk
  lang/rust/rust-values.mk
Labels: OpenWrt 23.05

#22109 curl: update to version 8.3.0
  net/curl/Makefile
Labels: security

#22116 [22.03] curl: update to version 8.3.0
  net/curl/Makefile
Labels: OpenWrt 22.03

#22117 [23.05] curl: update to version 8.3.0
  net/curl/Makefile
Labels: OpenWrt 23.05

#22119 [23.05] adblock-fast: bugfix: remove domains on allow
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22123 [22.03] https-dns-proxy: improve boot up startup
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/hotplug.d/iface/90-https-dns-proxy
  net/https-dns-proxy/files/etc/hotplug.d/online/30-https-dns-proxy
Labels: OpenWrt 22.03

#22124 [23.05] https-dns-proxy: improve boot up startup
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/hotplug.d/iface/90-https-dns-proxy
  net/https-dns-proxy/files/etc/hotplug.d/online/30-https-dns-proxy
Labels: OpenWrt 23.05

#22107 [openwrt-23.05] python-setuptools: Update to 68.2.0
  lang/python/python-setuptools/Makefile
Labels: OpenWrt 23.05

#22106 [openwrt-23.05] python-build: Update to 1.0.3
  lang/python/python-build/Makefile
Labels: OpenWrt 23.05

#22165 [openwrt-23.05] rust: Update to 1.72.0
  lang/rust/Makefile
  lang/rust/patches/0001-Update-xz2-and-use-it-static.patch
  lang/rust/patches/0002-Bumped-libc-version.patch
Labels: OpenWrt 23.05

#22168 [openwrt-23.05] rust: Set rustflags by environment variable
  lang/rust/Makefile
  lang/rust/files/cargo-config
  lang/rust/rust-package.mk
  lang/rust/rust-values.mk
Labels: OpenWrt 23.05

#22169 [openwrt-23.05] setools: Update to 4.4.3
  utils/setools/Makefile
Labels: OpenWrt 23.05

#22147 [22.03] git: update to version 2.34.8
  net/git/Makefile
Labels: OpenWrt 22.03

#22207 [23.05] django: bump to version 4.2.5
  lang/python/django/Makefile
Labels: OpenWrt 23.05

#22198 [openwrt-23.05] python-bidict: Update to 0.22.1
  lang/python/python-bidict/Makefile
Labels: OpenWrt 23.05

#22181 [openwrt-23.05] python3-networkx: Update to 3.1, rename source package
  lang/python/python-networkx/Makefile
Labels: OpenWrt 23.05

#22222 [23.05] adblock-fast: bugfix: better detect ABP lists
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/config/adblock-fast
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05
