Repository openwrt/packages, pull requests merged in 2023-01, with the labels that each got.

#20179 libreswan: set DNSSEC_ROOTKEY_FILE, LINUX_VARIANT
  net/libreswan/Makefile
Labels: needs run-testing

#20173 postgresql: update to version 15.1
  libs/postgresql/Makefile
  libs/postgresql/patches/200-ranlib.patch
  libs/postgresql/patches/300-fix-includes.patch
  libs/postgresql/patches/300-fix-pc-file.patch
  libs/postgresql/patches/700-no-arm-crc-march-change.patch
  libs/postgresql/patches/900-pg_ctl-setuid.patch
Labels: update

#20336 [22.03] pbr: update to 1.0.1-14
  net/pbr/Makefile
  net/pbr/files/etc/init.d/pbr.init
Labels: OpenWrt 22.03

#20318 [22.03] simple-adblock: update sed for allowing domains
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#20121 hiredis: update to version 1.1.0
  libs/hiredis/Makefile
  libs/hiredis/patches/010-fix_pkconfig_file.patch
Labels: update

#20356 [21.02] fix libuhttpd
  libs/libuhttpd/Makefile
  libs/libuhttpd/patches/100-wolfssl_5_support.patch
Labels: OpenWrt 21.02

#20357 [21.02] wifidog: fix compilation with more recent wolfssl
  net/wifidog/Makefile
  net/wifidog/patches/030-wolfssl-options.patch
Labels: OpenWrt 21.02

#20358 Rtty2102
  utils/rtty/Makefile
  utils/rtty/files/rtty.config
  utils/rtty/files/rtty.init
Labels: OpenWrt 21.02

#20270 [21.02] php8: update to 8.0.27
  lang/php8/Makefile
Labels: security, OpenWrt 21.02

#20373 [22.03] pbr: bugfix: fix is_domain()
  net/pbr/Makefile
  net/pbr/files/etc/config/pbr
  net/pbr/files/etc/init.d/pbr.init
Labels: OpenWrt 22.03

#20371 [22.03] php8: update to 8.1.14
  lang/php8/Makefile
Labels: security, OpenWrt 22.03

#20386 [22.03] python3: bump to version 3.10.9
  lang/python/python3-version.mk
  lang/python/python3/Makefile
  lang/python/python3/patches-pip/.gitkeep
  lang/python/python3/patches-pip/001-pep517-pyc-fix.patch
  lang/python/python3/patches/014-remove-platform-so-suffix.patch
  lang/python/python3/patches/016-adjust-config-paths.patch
  lang/python/python3/patches/025-choose-python-config-version.patch
  lang/python/python3/patches/028-host-python-support-ssl-with-libressl.patch
Labels: OpenWrt 22.03

#20385 ksmbd: select ASN1 explicitly to reduce dependencies
  kernel/ksmbd/Makefile
Labels: OpenWrt 21.02

#20414 bind: bump to 9.16.37
  net/bind/Makefile
Labels: OpenWrt 19.07

#20366 python-build: add support for pyproject.toml files (reboot of #17130)
  lang/python/python3-host.mk
  lang/python/python3-package.mk
  lang/python/setup.py.shim
Labels: High
