Repository openwrt/packages, pull requests merged in 2023-08, with the labels that each got.

#21640 [23.05] curl: update to 8.2.0
  net/curl/Makefile
Labels: OpenWrt 23.05

#21639 [22.03] curl: update to 8.2.0
  net/curl/Makefile
Labels: OpenWrt 22.03

#21493 [openwrt-23.05] haproxy: update to v2.8.1
  net/haproxy/Makefile
  net/haproxy/get-latest-patches.sh
Labels: OpenWrt 23.05

#21714 [openwrt-23.05] python-certifi: Update to 2023.7.22, add github runtime test
  lang/python/python-certifi/Makefile
  lang/python/python-certifi/test.sh
Labels: OpenWrt 23.05

#21740 [openwrt-22.03] golang: Update to 1.19.12
  lang/golang/golang/Makefile
Labels: OpenWrt 22.03

#21712 [openwrt-23.05] python-cachelib: Update to 0.10.2
  lang/python/python-cachelib/Makefile
Labels: OpenWrt 23.05

#21713 [openwrt-23.05] python-cachetools: Update to 5.3.1
  lang/python/python-cachetools/Makefile
Labels: OpenWrt 23.05

#21715 [openwrt-23.05] python-ciso8601: Update to 2.3.0
  lang/python/python-ciso8601/Makefile
Labels: OpenWrt 23.05

#21716 [openwrt-23.05] python-colorama: Update to 0.4.6
  lang/python/python-colorama/Makefile
Labels: OpenWrt 23.05

#21717 [openwrt-23.05] python-contextlib2: Update to 21.6.0
  lang/python/python-contextlib2/Makefile
Labels: OpenWrt 23.05

#21718 [openwrt-23.05] python-dns: Update to 2.4.1
  lang/python/python-dns/Makefile
Labels: OpenWrt 23.05

#21719 [openwrt-23.05] python-docutils: Update to 0.20.1
  lang/python/python-docutils/Makefile
Labels: OpenWrt 23.05

#21720 [openwrt-23.05] python-editables: Update to 0.5
  lang/python/python-editables/Makefile
Labels: OpenWrt 23.05

#21721 [openwrt-23.05] python-pathspec: Update to 0.11.2
  lang/python/python-pathspec/Makefile
Labels: OpenWrt 23.05

#21746 [openwrt-23.05] golang: Update to 1.20.7
  lang/golang/golang/Makefile
Labels: OpenWrt 23.05

#21694 [22.03] curl: update to 8.2.1
  net/curl/Makefile
Labels: OpenWrt 22.03

#21695 [23.05] curl: update to 8.2.1
  net/curl/Makefile
Labels: OpenWrt 23.05

#21762 [22.03] simple-adblock: force_dns_port validation bugfix
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#21763 [23.05] simple-adblock: force_dns_port validation bugfix
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 23.05

#21765 micropython: fix stackctrl compilation for GCC 13
  lang/python/micropython/patches/050-py-stackctrl-fix-gcc-13.patch
Labels: OpenWrt 23.05

#21772 [openwrt-23.05] python-flask-babel: Update to 3.1.0
  lang/python/python-flask-babel/Makefile
Labels: OpenWrt 23.05

#21775 [openwrt-23.05] python-flask-seasurf: Update to 1.1.1
  lang/python/python-flask-seasurf/Makefile
Labels: OpenWrt 23.05

#21769 [openwrt-23.05] python-engineio: Update to 4.5.1
  lang/python/python-engineio/Makefile
Labels: OpenWrt 23.05

#21770 [openwrt-23.05] python-socketio: Update to 5.8.0
  lang/python/python-socketio/Makefile
Labels: OpenWrt 23.05

#21771 [openwrt-23.05] python-flask-socketio: Update to 5.3.5
  lang/python/python-flask-socketio/Makefile
Labels: OpenWrt 23.05

#21773 [openwrt-23.05] python-flask-httpauth: Update to 4.8.0
  lang/python/python-flask-httpauth/Makefile
Labels: OpenWrt 23.05

#21774 [openwrt-23.05] python-flask-login: Update to 0.6.2, update list of dependencies
  lang/python/python-flask-login/Makefile
Labels: OpenWrt 23.05

#21776 [openwrt-23.05] python-wheel: Update to 0.41.1
  lang/python/python-wheel/Makefile
Labels: OpenWrt 23.05

#21777 [openwrt-23.05] python-click: Update to 8.1.6
  lang/python/python-click/Makefile
Labels: OpenWrt 23.05

#21778 [openwrt-23.05] python-ifaddr: Update to 0.2.0
  lang/python/python-ifaddr/Makefile
Labels: OpenWrt 23.05

#21818 [22.03] php8: update to 8.1.22
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: security, OpenWrt 22.03

#21815 [21.02] php8: update to 8.0.30
  lang/php8/Makefile
Labels: security, OpenWrt 21.02 (end-of-support)

#21829 [22.03] simple-adblock: bugfixes for uci_load_validate
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#21830 [23.05] simple-adblock: bugfixes for uci_load_validate
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 23.05

#21804 [openwrt-23.05] python-influxdb: Update to 5.3.1
  lang/python/python-influxdb/Makefile
Labels: OpenWrt 23.05

#21805 [openwrt-23.05] python-intelhex: Update to 2.3.0
  lang/python/python-intelhex/Makefile
  lang/python/python-intelhex/patches/001-Fix-Python-3.9-compatibility-issue-with-array-module.patch
Labels: OpenWrt 23.05

#21806 [openwrt-23.05] python-jmespath: Update to 1.0.1
  lang/python/python-jmespath/Makefile
Labels: OpenWrt 23.05

#21807 [openwrt-23.05] python-jsonpath-ng: Update to 1.5.3
  lang/python/python-jsonpath-ng/Makefile
Labels: OpenWrt 23.05

#21808 [openwrt-23.05] python-iniconfig: Update to 2.0.0
  lang/python/python-iniconfig/Makefile
Labels: OpenWrt 23.05

#21809 [openwrt-23.05] python-multidict: Update to 6.0.4, update list of dependencies
  lang/python/python-multidict/Makefile
Labels: OpenWrt 23.05

#21810 [openwrt-23.05] python-netdisco: Update to 3.0.0, update list of dependencies
  lang/python/python-netdisco/Makefile
Labels: OpenWrt 23.05

#21847 [openwrt-23.05] python-markdown: Update to 3.4.4, update list of dependencies
  lang/python/python-markdown/Makefile
Labels: OpenWrt 23.05

#21846 [openwrt-23.05] python-distro: Update to 1.8.0
  lang/python/python-distro/Makefile
Labels: OpenWrt 23.05

#21848 [openwrt-23.05] python-more-itertools: Update to 10.1.0
  lang/python/python-more-itertools/Makefile
Labels: OpenWrt 23.05

#21849 [openwrt-23.05] python-msgpack: Update to 1.0.5, add host Cython dependency
  lang/python/python-msgpack/Makefile
Labels: OpenWrt 23.05

#21850 [openwrt-23.05] python-psutil: Update to 5.9.5, replace patch
  lang/python/python-psutil/Makefile
  lang/python/python-psutil/patches/100-fix-non-Linux-compile.patch
  lang/python/python-psutil/patches/100_add_cross_platform_build_ability.patch
Labels: OpenWrt 23.05

#21851 [openwrt-23.05] python-psycopg2: Update to 2.9.7, update list of dependencies
  lang/python/python-psycopg2/Makefile
Labels: OpenWrt 23.05

#21852 [openwrt-23.05] python-trove-classifiers: Update to 2023.8.7
  lang/python/python-trove-classifiers/Makefile
Labels: OpenWrt 23.05

#21886 sqm-scripts: Bump to v1.6.0
  net/sqm-scripts/Makefile
Labels: OpenWrt 23.05

#21896 php8: update to 8.2.9
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: security

#21898 [openwrt-23.05] python-py: Update to 1.11.0, update list of dependencies
  lang/python/python-py/Makefile
Labels: OpenWrt 23.05

#21899 [openwrt-23.05] python-pyfuse3: Update to 3.3.0, update list of dependencies
  lang/python/python-pyfuse3/Makefile
Labels: OpenWrt 23.05

#21900 [openwrt-23.05] python-pyotp: Update to 2.9.0, update list of dependencies
  lang/python/python-pyotp/Makefile
Labels: OpenWrt 23.05

#21901 [openwrt-23.05] python-pyparsing: Update to 3.1.1
  lang/python/python-pyparsing/Makefile
Labels: OpenWrt 23.05

#21902 [openwrt-23.05] python-pyrsistent: Update to 0.19.3, update list of dependencies
  lang/python/python-pyrsistent/Makefile
Labels: OpenWrt 23.05

#21903 [openwrt-23.05] python-pytest: Update to 7.4.0, update list of dependencies
  lang/python/python-pytest/Makefile
Labels: OpenWrt 23.05

#21904 [openwrt-23.05] python-pytest-xdist: Update to 3.3.1, update list of dependencies
  lang/python/python-pytest-xdist/Makefile
Labels: OpenWrt 23.05

#21905 [openwrt-23.05] python-click: Update to 8.1.7
  lang/python/python-click/Makefile
Labels: OpenWrt 23.05

#21906 [openwrt-23.05] python-poetry-core: Update to 1.7.0
  lang/python/python-poetry-core/Makefile
Labels: OpenWrt 23.05

#21907 [openwrt-23.05] python-setuptools: Update to 68.1.2
  lang/python/python-setuptools/Makefile
Labels: OpenWrt 23.05

#21931 [23.05] miniupnpd: remove uci-defaults and fw4-include files for nftables var…
  net/miniupnpd/Makefile
  net/miniupnpd/files/firewall4.include
  net/miniupnpd/files/miniupnpd.defaults.nftables
Labels: OpenWrt 23.05
