Repository openwrt/packages, pull requests merged in 2023-04, with the labels that each got.

#20487 [21.02] ffmpeg: update to version 4.3.5
  multimedia/ffmpeg/Makefile
Labels: OpenWrt 21.02

#20791 Apinger: backport apinger-rrd and the procd conversion to 22.03
  net/apinger/Makefile
  net/apinger/files/apinger-hotplug
  net/apinger/files/apinger.config
  net/apinger/files/apinger.init
  net/apinger/files/apinger.rpc
  net/apinger/files/graphs.sh
  net/apinger/files/iface.hotplug
  net/apinger/files/user.hotplug
  net/apinger/patches/030-apinger-no_exit.patch
  net/apinger/patches/040-srcip.patch
  net/apinger/patches/050-statusformat.patch
  net/apinger/patches/060-format-alarm-list.patch
Labels: needs run-testing, OpenWrt 22.03

#20448 sshtunnel: fix type, case and whitespace issues
  net/sshtunnel/Makefile
  net/sshtunnel/files/uci_sshtunnel
Labels: trivial

#20809 [22.03] ruby: update to 3.0.6
  lang/ruby/Makefile
  lang/ruby/patches/100-musl.patch
Labels: OpenWrt 22.03

#20816 [22.03] php8: update to 8.1.18
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: OpenWrt 22.03

#20741 [22.03] curl: update to 8.0.1
  net/curl/Makefile
Labels: OpenWrt 22.03

#20834 [21.02] bind: disable geoip because of maxminddb dep
  net/bind/Makefile
Labels: OpenWrt 21.02

#20843 [openwrt-22.03] obfs4proxy: Update to 0.0.14
  net/obfs4proxy/Makefile
Labels: OpenWrt 22.03

#20802 openssh: preserve authorized_keys
  net/openssh/Makefile
Labels: needs run-testing
