Repository openwrt/packages, pull requests merged in 2023-10, with the labels that each got.

#22266 [23.05] exim: apply hotfix for some ZDI reported vulnerabilities
  mail/exim/Makefile
  mail/exim/patches/000-preliminary-fixes-for-ZDI-vulns.patch
Labels: vulnerability, security, OpenWrt 23.05

#22267 [22.03] exim: apply hotfix for some ZDI reported vulnerabilities
  mail/exim/Makefile
  mail/exim/patches/000-preliminary-fixes-for-ZDI-vulns.patch
Labels: vulnerability, security, OpenWrt 22.03

#22233 [openwrt-23.05] python-setuptools: Update to 68.2.2
  lang/python/python-setuptools/Makefile
  lang/python/python-setuptools/test.sh
Labels: OpenWrt 23.05

#22234 [openwrt-23.05] python-trove-classifiers: Update to 2023.9.19
  lang/python/python-trove-classifiers/Makefile
Labels: OpenWrt 23.05

#22235 [openwrt-23.05] python-typing-extensions: Update to 4.8.0
  lang/python/python-typing-extensions/Makefile
  lang/python/python-typing-extensions/test.sh
Labels: OpenWrt 23.05

#22272 [23.05] libwebp: bump to version 1.3.2
  libs/libwebp/Makefile
  libs/libwebp/patches/010-mips16.patch
Labels: OpenWrt 23.05

#22269 [23.05] adblock-fast: update to 1.0.0-5
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22287 [23.05] adblock-fast: update to 1.0.0-5
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22281 [openwrt-23.05] python-pyopenssl: Update to 23.2.0
  lang/python/python-pyopenssl/Makefile
  lang/python/python-pyopenssl/test.sh
Labels: OpenWrt 23.05

#22282 [openwrt-23.05] python-bcrypt: Update to 4.0.1, add myself as maintainer
  lang/python/python-bcrypt/Makefile
  lang/python/python-bcrypt/test.sh
Labels: OpenWrt 23.05

#22292 [openwrt-23.05] python-cffi: Update to 1.16.0
  lang/python/python-cffi/Makefile
  lang/python/python-cffi/patches/001-unpin-setuptools.patch
  lang/python/python-cffi/test.sh
Labels: OpenWrt 23.05

#22312 [23.05] adblock-fast: bugfix: properly identify hosts-files
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22324 exim: update to version 4.96.1
  mail/exim/Makefile
  mail/exim/patches/000-preliminary-fixes-for-ZDI-vulns.patch
Labels: vulnerability, Package update

#22335 [23.05] exim: update to version 4.96.1
  mail/exim/Makefile
  mail/exim/patches/000-preliminary-fixes-for-ZDI-vulns.patch
Labels: security, Package update, OpenWrt 23.05

#22336 [22.03] exim: update to version 4.96.1
  mail/exim/Makefile
  mail/exim/patches/000-preliminary-fixes-for-ZDI-vulns.patch
Labels: security, Package update, OpenWrt 22.03

#22326 [openwrt-23.05] python-twisted: Update to 23.8.0, rework patches
  lang/python/python-twisted/Makefile
  lang/python/python-twisted/patches/001-omit-tkconch.patch
  lang/python/python-twisted/patches/002-omit-tests.patch
  lang/python/python-twisted/test.sh
Labels: OpenWrt 23.05

#22293 [openwrt-23.05] python-charset-normalizer: Update to 3.3.0
  lang/python/python-charset-normalizer/Makefile
  lang/python/python-charset-normalizer/test.sh
Labels: OpenWrt 23.05

#22364 [openwrt-23.05] python3: Update to 3.11.6, refresh patches
  lang/python/python3-version.mk
  lang/python/python3/Makefile
  lang/python/python3/patches/003-do-not-run-compileall.patch
  lang/python/python3/patches/025-choose-python-config-version.patch
Labels: OpenWrt 23.05

#22375 [openwrt-23.05] python-zope-interface: Update to 6.1, refresh patch
  lang/python/python-zope-interface/Makefile
  lang/python/python-zope-interface/patches/001-omit-tests.patch
  lang/python/python-zope-interface/test.sh
Labels: OpenWrt 23.05

#22423 [22.03] https-dns-proxy: bugfix: logging crashing instances on ath79
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/patches/030-src-logging.c-fix-crash.patch
Labels: OpenWrt 22.03

#22424 [23.05] https-dns-proxy: bugfix: logging crashing instances on ath79
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/patches/030-src-logging.c-fix-crash.patch
Labels: OpenWrt 23.05

#22465 [23.05] adblock-fast: bugfix: allow command
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/config/adblock-fast
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22490 [22.03] https-dns-proxy: bugfix: prevent crashes on IPv6 systems
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/hotplug.d/iface/90-https-dns-proxy
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
Labels: OpenWrt 22.03

#22491 [23.05] https-dns-proxy: bugfix: prevent crashes on IPv6 systems
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/hotplug.d/iface/90-https-dns-proxy
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
Labels: OpenWrt 23.05

#22481 exim: update to version 4.96.2
  mail/exim/Makefile
  mail/exim/patches/100-localscan_dlopen.patch
Labels: vulnerability, security, Package update

#22508 [23.05] nghttp3: add new package
  libs/nghttp3/Makefile
Labels: OpenWrt 23.05

#22509 [23.05] ngtcp2: add new package
  libs/ngtcp2/Makefile
Labels: OpenWrt 23.05

#22510 [23.05] curl: prepare for HTTP/3 support
  net/curl/Config.in
  net/curl/Makefile
Labels: OpenWrt 23.05

#22512 [22.03] https-dns-proxy: bugfix: crashes on logging from upstream
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/patches/010-cmakelists-remove-cflags.patch
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
  net/https-dns-proxy/patches/030-src-logging.c-fix-crash.patch
Labels: OpenWrt 22.03

#22513 [23.05] https-dns-proxy: bugfix: crashes on logging from upstream
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/patches/010-cmakelists-remove-cflags.patch
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
  net/https-dns-proxy/patches/030-src-logging.c-fix-crash.patch
Labels: OpenWrt 23.05

#22521 [22.03] php8: update to 8.1.25
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: OpenWrt 22.03

#22543 [23.05] ngtcp2: update to 1.0.1
  libs/ngtcp2/Makefile
Labels: OpenWrt 23.05

#22522 [22.03] postgresql: update to version 14.9
  libs/postgresql/Makefile
  libs/postgresql/patches/700-no-arm-crc-march-change.patch
  libs/postgresql/patches/900-pg_ctl-setuid.patch
Labels: OpenWrt 22.03
