Repository openwrt/packages, pull requests merged in 2023-12, with the labels that each got.

#22771 [23.05] nghttp3: update to 1.1.0
  libs/nghttp3/Makefile
Labels: OpenWrt 23.05

#22773 [23.05] ngtcp2: update to 1.1.0
  libs/ngtcp2/Makefile
Labels: OpenWrt 23.05

#22825 [23.05] adblock-fast: add smartdns ipset/nftset support
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/config/adblock-fast
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22807 [openwrt-23.05] fail2ban: Fix compatibility with Python 3.11
  net/fail2ban/Makefile
  net/fail2ban/patches/101-move-global-groups-to-start-of-expression-python-3.11-compat.patch
  net/fail2ban/patches/102-wrap-global-flags-to-local-flags-if-supported-by-RE-engine-in-the-python-version.patch
Labels: OpenWrt 23.05

#22840 [23.05] adblock-fast: bugfixes: getsize/resolver
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22851 [23.05] irqbalance: Fix log spam and correct meson version
  utils/irqbalance/Makefile
  utils/irqbalance/patches/010-meson.patch
  utils/irqbalance/patches/020-mark-EINVAL-error-permanent.patch
Labels: OpenWrt 23.05

#22854 adblock-fast: bugfix: block domains from config when not using block-lists
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22864 [23.05] adblock-fast: better allow-listing
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22874 [22.03] https-dns-proxy: only restart firewall when needed
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
Labels: OpenWrt 22.03

#22875 [23.05] https-dns-proxy: only restart firewall when needed
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
Labels: OpenWrt 23.05

#22876 [openwrt-23.05] golang: Update to 1.21.5
  lang/golang/golang/Makefile
Labels: OpenWrt 23.05

#22857 [23.05] curl: update to 8.5.0
  net/curl/Makefile
  net/curl/patches/200-no_docs_tests.patch
Labels: OpenWrt 23.05

#22859 [23.05] nebula: update to 1.8.0
  net/nebula/Makefile
  net/nebula/files/nebula.proto
Labels: OpenWrt 23.05

#22897 [23.05] adblock-fast: update to 1.1.1-1
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#22888 [openwrt-23.05] python3: Update to 3.11.7, refresh patches
  lang/python/python3-version.mk
  lang/python/python3/Makefile
  lang/python/python3/patches/003-do-not-run-compileall.patch
  lang/python/python3/patches/025-choose-python-config-version.patch
  lang/python/python3/patches/100-gh-95855-Refactor-platform-triplet-detection-code-GH-107221.patch
Labels: OpenWrt 23.05

#22904 [22.03] php8: update to 8.1.26
  lang/php8/Makefile
Labels: OpenWrt 22.03

#22906 [23.05] php8: update to 8.2.13
  lang/php8/Makefile
Labels: OpenWrt 23.05

#22921 mariadb: update to 10.9.8
  utils/mariadb/Makefile
  utils/mariadb/patches/100-fix_hostname.patch
  utils/mariadb/patches/180-relax-mysql_install-db-wrt-pam-tool.patch
  utils/mariadb/patches/200-no-selinux.patch
  utils/mariadb/patches/300-gcc-13-compatibility-fix.patch
Labels: needs run-testing

#22978 [22.03] curl: update to 8.5.0
  net/curl/Makefile
  net/curl/patches/200-no_docs_tests.patch
Labels: OpenWrt 22.03

#22954 wsdd2: update to 2023-12-21
  net/wsdd2/Makefile
Labels: OpenWrt 23.05

#23003 [23.05] django: bump to version 4.2.8
  lang/python/django/Makefile
Labels: OpenWrt 23.05

#23000 [23.05] php8: update to 8.2.14
  lang/php8/Makefile
  lang/php8/patches/1004-disable-phar-command.patch
Labels: OpenWrt 23.05

#22999 [22.03] php8: update to 8.1.27
  lang/php8/Makefile
  lang/php8/patches/1004-disable-phar-command.patch
Labels: OpenWrt 22.03
