Repository openwrt/packages, pull requests merged in 2023-02, with the labels that each got.

#20447 [22.03] simple-adblock: update to 1.9.3-7
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.conf.update
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#20477 [22.03] php8: update to 8.1.15
  lang/php8/Makefile
Labels: OpenWrt 22.03

#20512 [22.03] simple-adblock: update to 1.9.4-1
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf.update
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#20524 [22.03] simple-adblock: implement procd_boot_wan_timeout support
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#20494 [22.03] kcptun: update to version 20230207
  net/kcptun/Makefile
  net/kcptun/files/kcptun.config
  net/kcptun/files/kcptun.init
Labels: OpenWrt 22.03

#20533 [22.03] simple-adblock: bugfix: ensure directory for jsonFile is created
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#20518 [21.02] django: bump to version 3.2.18
  lang/python/django/Makefile
Labels: OpenWrt 21.02

#20526 [21.02] node: bump to v14.21.3
  lang/node/Makefile
  lang/node/patches/003-path.patch
Labels: OpenWrt 21.02

#20555 [22.03] https-dns-proxy: 2022-10-15-11 update
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.config
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#20505 [21.02] git: update to 2.34.7
  net/git/Makefile
Labels: OpenWrt 21.02

#20507 [22.03] git: update to 2.34.7
  net/git/Makefile
Labels: OpenWrt 22.03

#20467 ddns-scripts: Add njal.la provider
  net/ddns-scripts/Makefile
  net/ddns-scripts/files/usr/share/ddns/default/njal.la.json
  net/ddns-scripts/files/usr/share/ddns/list
Labels: needs run-testing
