Repository openwrt/packages, pull requests merged in 2023-05, with the labels that each got.

#20842 [openwrt-22.03] slang2: Update to 2.3.3, refresh patches
  libs/slang2/Makefile
  libs/slang2/patches/001-skip-terminfo-dir-test.patch
Labels: OpenWrt 22.03

#20769 [22.03] simple-adblock: implement curl_additional_param compressed_cache_dir
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.conf
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#20913 [22.03] pbr: update to 1.1.1-1
  net/pbr/Makefile
  net/pbr/files/etc/hotplug.d/firewall/70-pbr
  net/pbr/files/etc/hotplug.d/iface/70-pbr
  net/pbr/files/etc/init.d/pbr.init
  net/pbr/files/etc/uci-defaults/90-pbr
  net/pbr/files/etc/uci-defaults/91-pbr
  net/pbr/files/usr/share/pbr/pbr.firewall.include
Labels: OpenWrt 22.03

#20931 [22.03] pbr: ipv6 & migration bugfixes
  net/pbr/Makefile
  net/pbr/files/etc/init.d/pbr.init
  net/pbr/files/etc/uci-defaults/90-pbr
Labels: OpenWrt 22.03

#20943 [22.03] simple-adblock: add family to firewall json objects
  net/simple-adblock/Makefile
  net/simple-adblock/files/simple-adblock.init
Labels: OpenWrt 22.03

#20945 [22.03] https-dns-proxy: fixes/improvements
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
Labels: OpenWrt 22.03

#20968 crowdsec-firewall-bouncer: new upstream release version 0.0.26
  net/crowdsec-firewall-bouncer/Makefile
Labels: OpenWrt 22.03

#21004 [22.03] libxml2: update to 2.10.4
  libs/libxml2/Makefile
Labels: security, OpenWrt 22.03

#21000 [22.03] python-eventlet: bump to version 0.33.3 (backport from master)
  lang/python/python-eventlet/Makefile
Labels: OpenWrt 22.03

#20992 [22.03] pbr: bugfix: create IPv6 routes
  net/pbr/Makefile
  net/pbr/files/etc/init.d/pbr.init
Labels: OpenWrt 22.03

#21153 [openwrt-23.05] borgbackup: Move from lang/python into utils
  utils/borgbackup/Makefile
Labels: OpenWrt 23.05

#21154 [openwrt-23.05] python-flit-core: Update to 3.9.0
  lang/python/python-flit-core/Makefile
Labels: OpenWrt 23.05

#21179 [23.05] https-dns-proxy: update to 2023-05-25-1
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
  net/https-dns-proxy/patches/010-cmakelists-remove-cflags.patch
  net/https-dns-proxy/patches/020-cmakelists-add-version.patch
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
Labels: OpenWrt 23.05

#21180 [23.05] curl: update to 8.1.0
  net/curl/Makefile
  net/curl/patches/200-no_docs_tests.patch
Labels: OpenWrt 23.05

#21178 [22.03] https-dns-proxy: update to 2023-05-25-1
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/https-dns-proxy.init
  net/https-dns-proxy/patches/010-cmakelists-remove-cflags.patch
  net/https-dns-proxy/patches/020-cmakelists-add-version.patch
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
Labels: OpenWrt 22.03

#21146 [22.03] curl: update to 8.1.0
  net/curl/Makefile
  net/curl/patches/200-no_docs_tests.patch
Labels: OpenWrt 22.03

#21185 [21.02] django: bump to version 3.2.19
  lang/python/django/Makefile
Labels: security, OpenWrt 21.02 (end-of-support)

#21156 [openwrt-22.03] python3: Update to 3.10.11, refresh/restore patches; cherry pick fixes
  lang/python/python3-version.mk
  lang/python/python3/Makefile
  lang/python/python3/patches-pip/.gitkeep
  lang/python/python3/patches-pip/001-pyproject-hooks-pyc-fix.patch
  lang/python/python3/patches/003-do-not-run-compileall.patch
  lang/python/python3/patches/006-do-not-add-multiarch-local-paths.patch
  lang/python/python3/patches/006-do-not-add-multiarch-paths-when-cross-compiling.patch
  lang/python/python3/patches/016-adjust-config-paths.patch
  lang/python/python3/patches/025-choose-python-config-version.patch
  lang/python/python3/patches/026-openssl-feature-flags.patch
  lang/python/python3/patches/027-install-python3-symlink-after-stdlib.patch
  lang/python/python3/patches/028-host-python-support-ssl-with-libressl.patch
  lang/python/python3/patches/029-no-FIPS_mode.patch
Labels: OpenWrt 22.03

#21210 lighttpd: update to lighttpd 1.4.71 release hash - backport to openwrt 22.03
  net/lighttpd/Makefile
  net/lighttpd/patches/020-meson-mod_webdav_min.patch
  net/lighttpd/patches/030-mod_h2-HTTP-2-separate-mod.patch
Labels: OpenWrt 22.03

#21209 lighttpd: update to lighttpd 1.4.71 release hash - backport to openwrt 21.02
  net/lighttpd/Makefile
  net/lighttpd/patches/020-meson-mod_webdav_min.patch
  net/lighttpd/patches/030-mod_h2-HTTP-2-separate-mod.patch
  net/lighttpd/patches/030-restore-removed-modules.patch
Labels: OpenWrt 21.02 (end-of-support)

#21204 [22.03] curl: update to 8.1.1
  net/curl/Makefile
Labels: OpenWrt 22.03

#21205 [23.05] curl: update to 8.1.1
  net/curl/Makefile
Labels: OpenWrt 23.05
