Repository openwrt/packages, pull requests merged in 2024-12, with the labels that each got.

#25466 [23.05] yggdrasil: bump to 0.5.10
  net/yggdrasil/Makefile
Labels: OpenWrt 23.05

#25468 [22.03] php8: update to 8.1.31
  lang/php8/Makefile
Labels: update, security, OpenWrt 22.03

#25470 [23.05] php8: update to 8.2.26
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: update, security, OpenWrt 23.05

#25507 [23.05] adblock-fast: bugfix: dnsmasq instances confdir hack
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
  net/adblock-fast/files/etc/uci-defaults/90-adblock-fast
Labels: OpenWrt 23.05

#25506 [24.10] adblock-fast: bugfix: dnsmasq instances confdir hack
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 24.10

#25511 [24.10] pbr: 1.1.7-65 bugfixes and improvements
  net/pbr/Makefile
  net/pbr/files/etc/init.d/pbr
  net/pbr/files/etc/uci-defaults/91-pbr-netifd
  net/pbr/files/usr/share/pbr/pbr.user.aws
Labels: OpenWrt 24.10

#25512 python-dateutil: "downgrade" to version 2.9.0
  lang/python/python-dateutil/Makefile
Labels: OpenWrt 24.10

#25218 libdeflate: update to 1.22 (backport)
  libs/libdeflate/Makefile
Labels: OpenWrt 23.05

#25525 tailscale: update to 1.78.1
  net/tailscale/Makefile
Labels: OpenWrt 24.10

#25544 lrzsz: fix random build failures by really disabling autofoo
  utils/lrzsz/Makefile
  utils/lrzsz/patches/300-neutralize-autofoo.patch
Labels: bug

#25539 [23.05] yajl: backport CVE-2023-33460 fix
  libs/yajl/Makefile
  libs/yajl/patches/010-CVE-2023-33460.patch
  libs/yajl/patches/100-link-reformatter-uclibc-libm.patch
  libs/yajl/patches/101-link-perf-uclibc-libm.patch
Labels: security, OpenWrt 23.05

#25538 [24.10] pbr: improve status_service output
  net/pbr/Makefile
  net/pbr/files/etc/init.d/pbr
Labels: OpenWrt 24.10

#25574 [24.10] pbr: update to 1.1.8
  net/pbr/Makefile
Labels: OpenWrt 24.10

#25598 [24.10] nextdns: Update to version 1.44.3
  net/nextdns/Makefile
Labels: OpenWrt 24.10

#25599 [23.05] nextdns: Update to version 1.44.3
  net/nextdns/Makefile
Labels: OpenWrt 23.05

#25643 delve: update to 1.24.0
  devel/delve/Makefile
Labels: OpenWrt 24.10
