Repository openwrt/packages, pull requests merged in 2024-10, with the labels that each got.

#25034 meta: VS Code: Git: Always Sign Off
  .vscode/settings.json
Labels: Depends on PR in other repo, blocked

#25060 php8: update to 8.3.12
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: security, Package update

#25091 [23.05] pbr: bugfix for dns & tor policies and traffic_killswitch
  net/pbr/Makefile
  net/pbr/files/etc/init.d/pbr
  net/pbr/files/etc/init.d/pbr-iptables
  net/pbr/files/usr/share/nftables.d/chain-post/dstnat/30-pbr.nft
  net/pbr/files/usr/share/nftables.d/chain-post/dstnat_lan/30-pbr.nft
  net/pbr/files/usr/share/nftables.d/table-post/30-pbr.nft
Labels: OpenWrt 23.05

#25100 [23.05] php8: update to 8.2.24
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: security, Package update, OpenWrt 23.05

#25101 [22.03] php8: update to 8.1.30
  lang/php8/Makefile
Labels: security, Package update, OpenWrt 22.03

#25164 [23.05] i2pd: update to 2.54.0
  net/i2pd/Makefile
  net/i2pd/files/i2pd.init
Labels: OpenWrt 23.05

#24677 zabbix: Backport libevent dependency to 23.05
  admin/zabbix/Makefile
Labels: OpenWrt 23.05

#25154 openconnect: introduced script parameter
  net/openconnect/Makefile
  net/openconnect/README
  net/openconnect/files/openconnect.sh
Labels: Needs reviewer
