Repository openwrt/packages, pull requests merged in 2024-11, with the labels that each got.

#25260 netatalk: Remove apfstats feature to solve dependency issues (backport)
  net/netatalk/Makefile
Labels: OpenWrt 24.10

#25326 tailscale: update to 1.76.6
  net/tailscale/Makefile
Labels: OpenWrt 24.10

#25438 php8: update to 8.3.14
  lang/php8/Makefile
  lang/php8/patches/0022-Use-system-timezone.patch
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: security, Package update

#25452 django: bump to 4.2.16 [23.05]
  lang/python/django/Makefile
Labels: OpenWrt 23.05

#25460 [24.10] sunwait: initial commit
  utils/sunwait/LICENSE
  utils/sunwait/Makefile
Labels: OpenWrt 24.10
