Repository openwrt/packages, pull requests merged in 2024-04, with the labels that each got.

#23815 [23.05] curl: update to 8.7.1
  net/curl/Makefile
  net/curl/patches/200-no_docs_tests.patch
Labels: OpenWrt 23.05

#23874 [23.05] adblock-fast: improve Makefile's prerm
  net/adblock-fast/Makefile
Labels: OpenWrt 23.05

#23940 [22.03] php8: update to 8.1.28
  lang/php8/Makefile
Labels: security, OpenWrt 22.03

#23871 snort3 and libdaq3: sync with master and remove symbol @HAS_LUAJIT_ARCH
  libs/libdaq3/Makefile
  net/snort3/Makefile
Labels: OpenWrt 23.05

#23947 [23.05] php8: update to 8.2.18
  lang/php8/Makefile
Labels: security, OpenWrt 23.05

#23955 php8: update to 8.3.6
  lang/php8/Makefile
Labels: security, Package update

#24006 [23.05] nebula: Use APK style release number
  net/nebula/Makefile
Labels: OpenWrt 23.05

#24014 [23.05] adblock-fast: bugfix: unbound-related fixes
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#23702 apk: move package to core
  utils/apk/Makefile
  utils/apk/files/alpine-keys/alpine-devel@lists.alpinelinux.org-4a6a0840.rsa.pub
  utils/apk/files/alpine-keys/alpine-devel@lists.alpinelinux.org-5243ef4b.rsa.pub
  utils/apk/files/alpine-keys/alpine-devel@lists.alpinelinux.org-5261cecb.rsa.pub
  utils/apk/files/alpine-repositories
  utils/apk/patches/0001-remove-doc-generation.patch
  utils/apk/patches/010-openssl-deprecated.patch
  utils/apk/test.sh
Labels: Depends on PR in other repo
