Repository openwrt/packages, pull requests merged in 2024-09, with the labels that each got.

#24827 tvheadend: update to latest master
  multimedia/tvheadend/Makefile
Labels: needs run-testing

#24919 php8: update to 8.3.11
  lang/php8/Makefile
  lang/php8/patches/0007-Add-support-for-use-of-the-system-timezone-database.patch
Labels: Package update

#24866 [23.05] glib2: update to 2.74.7 to fix several CVEs
  libs/glib2/Makefile
  libs/glib2/patches/006-c99.patch
  libs/glib2/patches/010-pcre.patch
  libs/glib2/patches/020-locale.patch
  libs/glib2/patches/100-CVE-2024-34397-gdbusmessage-Cache-the-arg0-value.patch
  libs/glib2/patches/101-CVE-2024-34397-gdbusconnection-Make-a-backport-of-g_set_str-available.patch
  libs/glib2/patches/102-CVE-2024-34397-tests-Add-a-data-driven-test-for-signal-subscriptions.patch
  libs/glib2/patches/103-CVE-2024-34397-tests-Add-support-for-subscribing-to-signals-from-a-well-.patch
  libs/glib2/patches/104-CVE-2024-34397-tests-Add-a-test-case-for-what-happens-if-a-unique-name-d.patch
  libs/glib2/patches/105-CVE-2024-34397-tests-Add-test-coverage-for-signals-that-match-the-messag.patch
  libs/glib2/patches/106-CVE-2024-34397-gdbusprivate-Add-symbolic-constants-for-the-message-bus-i.patch
  libs/glib2/patches/107-CVE-2024-34397-gdbusconnection-Move-SignalData-SignalSubscriber-higher-u.patch
  libs/glib2/patches/108-CVE-2024-34397-gdbusconnection-Factor-out-signal_data_new_take.patch
  libs/glib2/patches/109-CVE-2024-34397-gdbusconnection-Factor-out-add_signal_data.patch
  libs/glib2/patches/110-CVE-2024-34397-gdbusconnection-Factor-out-remove_signal_data_if_unused.patch
  libs/glib2/patches/111-CVE-2024-34397-gdbusconnection-Stop-storing-sender_unique_name-in-Signal.patch
  libs/glib2/patches/112-CVE-2024-34397-gdbus-Track-name-owners-for-signal-subscriptions.patch
  libs/glib2/patches/113-CVE-2024-34397-gdbusconnection-Don-t-deliver-signals-if-the-sender-doesn.patch
  libs/glib2/patches/114-CVE-2024-34397-tests-Add-a-test-for-matching-by-two-well-known-names.patch
  libs/glib2/patches/115-CVE-2024-34397-tests-Add-a-test-for-signal-filtering-by-well-known-name.patch
  libs/glib2/patches/116-CVE-2024-34397-tests-Ensure-that-unsubscribing-with-GetNameOwner-in-flig.patch
  libs/glib2/patches/117-CVE-2024-34397-gdbus-proxy-test-Wait-before-asserting-name-owner-has-gon.patch
  libs/glib2/patches/118-CVE-2024-34397-gdbusconnection-Allow-name-owners-to-have-the-syntax-of-a.patch
  libs/glib2/patches/120-gdbusmessage-Clean-the-cached-arg0-when-setting-the-messa.patch
Labels: security, OpenWrt 23.05

#24946 [23.05] php8: update to 8.2.23
  lang/php8/Makefile
  lang/php8/patches/0007-Add-support-for-use-of-the-system-timezone-database.patch
Labels: Package update, OpenWrt 23.05

#25001 [23.05] adblock-fast: bugfixes and shellcheck update
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05
