Repository openwrt/packages, pull requests merged in 2024-02, with the labels that each got.

#23227 [23.05] nebula: update to 1.8.2-2
  net/nebula/Makefile
  net/nebula/files/README.md
  net/nebula/files/nebula.upgrade
Labels: OpenWrt 23.05

#22972 [23.05] yggdrasil: overhaul package with netifd support
  net/yggdrasil/Makefile
  net/yggdrasil/files/yggdrasil.defaults
  net/yggdrasil/files/yggdrasil.init
  net/yggdrasil/files/yggdrasil.sh
  net/yggdrasil/files/ygguci
Labels: OpenWrt 23.05

#23254 [22.03] curl: update to 8.6.0
  net/curl/Makefile
  net/curl/patches/200-no_docs_tests.patch
Labels: OpenWrt 22.03

#23253 [23.05] curl: update to 8.6.0
  net/curl/Makefile
  net/curl/patches/200-no_docs_tests.patch
Labels: OpenWrt 23.05

#23215 flac: update to 1.4.3
  libs/flac/Makefile
Labels: needs run-testing

#23214 imagemagick: update to 7.1.1-27
  multimedia/imagemagick/Makefile
Labels: needs run-testing

#23212 make: update to 4.4.1
  devel/make/Makefile
Labels: needs run-testing

#23217 libsndfile: update to 1.2.2
  libs/libsndfile/Makefile
Labels: needs run-testing

#23216 freetype: update to 2.13.2
  libs/freetype/Makefile
Labels: needs run-testing

#23057 mwan3: use network_get_preferred_ipaddr6
  net/mwan3/Makefile
  net/mwan3/files/lib/mwan3/common.sh
Labels: blocked

#23394 [23.05] stlink: add packages
  utils/stlink/Makefile
Labels: OpenWrt 23.05

#23407 [23.05] adblock-fast: add force_dns_interface setting
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#23416 P910nd v22.03 picks
  net/p910nd/Makefile
  net/p910nd/files/p910nd.hotplug
  net/p910nd/files/p910nd.init
Labels: OpenWrt 22.03

#23453 [openwrt-23.05] haproxy: update to v2.8.6
  net/haproxy/Makefile
  net/haproxy/get-latest-patches.sh
Labels: OpenWrt 23.05

#23485 [23.05] php8: update to 8.2.16
  lang/php8/Makefile
  lang/php8/patches/1004-disable-phar-command.patch
Labels: Package update, OpenWrt 23.05

#23520 httping: update to 3.5
  net/httping/Makefile
  net/httping/patches/001-fix-musl.patch
  net/httping/patches/001-no_strip.patch
  net/httping/patches/002-fix-openssl-bundle.patch
  net/httping/patches/002-fix_compile_warnings.patch
  net/httping/patches/004-fix-cmake.patch
  net/httping/patches/004-minimize.patch
Labels: Package update

#23530 hyperscan: new package for speeding up regex ops
  libs/hyperscan/Makefile
Labels: OpenWrt 23.05

#23531 gperftools: add new package
  libs/gperftools/Makefile
Labels: OpenWrt 23.05

#21476 ragel: new package to build hyperscan
  devel/ragel/Makefile
Labels: blocked, OpenWrt 23.05

#23516 [23.05] rtl_433: update to 23.11
  utils/rtl_433/Makefile
Labels: Package update, OpenWrt 23.05

#23515 [23.05] rtl-sdr: update to v2.0.1
  utils/rtl-sdr/Makefile
Labels: Package update, OpenWrt 23.05
