Repository openwrt/packages, pull requests merged in 2024-03, with the labels that each got.

#23572 [23.05] https-dns-proxy: update to upstream 2023-11-19
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
Labels: OpenWrt 23.05

#23573 [23.05] https-dns-proxy: update to upstream 2023-11-19
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
Labels: OpenWrt 23.05

#23529 [23.05] c-ares: update to 1.27.0
  libs/c-ares/Makefile
Labels: Package update, OpenWrt 23.05

#23680 mmc-utils: update to upstream's e1281d4de916 commit
  utils/mmc-utils/Makefile
Labels: Package update

#23695 php8: update to 8.3.4
  lang/php8/Makefile
Labels: Package update

#23665 hwdata: update to 0.380
  utils/hwdata/Makefile
Labels: Package update

#23667 libdeflate: update to 1.19
  libs/libdeflate/Makefile
Labels: Package update

#23668 squid: update to 6.8
  net/squid/Makefile
Labels: Package update

#23670 minisatip: update to 1.3.4
  multimedia/minisatip/Makefile
Labels: Package update

#23671 libstrophe: update to 0.13.1
  libs/libstrophe/Makefile
Labels: Package update

#23678 tgt: update to 1.0.91
  net/tgt/Makefile
  net/tgt/patches/100-musl-compat.patch
Labels: Package update

#23535 imagemagick: update to 7.1.1.29
  multimedia/imagemagick/Makefile
Labels: Package update

#23718 [23.05] nebula: prepare migration to APK
  net/nebula/Makefile
Labels: OpenWrt 23.05

#23720 [23.05] adblock-fast: prepare migration to APK
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#23719 [23.05] https-dns-proxy: prepare migration to APK
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
Labels: OpenWrt 23.05

#23736 [23.05] https-dns-proxy: prepare migration to APK
  net/https-dns-proxy/Makefile
Labels: OpenWrt 23.05

#23754 p910nd: fix running multiple instances
  net/p910nd/Makefile
  net/p910nd/files/p910nd.init
Labels: OpenWrt 22.03

#23755 p910nd: fix running multiple instances
  net/p910nd/Makefile
  net/p910nd/files/p910nd.init
Labels: OpenWrt 23.05
