Repository openwrt/packages, pull requests merged in 2024-07, with the labels that each got.

#24494 openssh: bump to 9.8p1
  net/openssh/Makefile
Labels: security

#24546 [23.05] backport package license fixes
  devel/automake/Makefile
  lang/python/python-paho-mqtt/Makefile
  libs/gpgme/Makefile
  libs/libassuan/Makefile
  libs/libev/Makefile
  libs/libgd/Makefile
  libs/tiff/Makefile
  net/ntpd/Makefile
  net/tor/Makefile
  utils/lsof/Makefile
  utils/vim/Makefile
Labels: OpenWrt 23.05

#24572 [23.05] php8: update to 8.2.21
  lang/php8/Makefile
Labels: Package update, OpenWrt 23.05

#24355 libv4l: update to 1.28.0
  libs/libv4l/Makefile
  libs/libv4l/patches/010-intl.patch
  libs/libv4l/patches/100-meson-utils.patch
Labels: needs run-testing
