Repository openwrt/packages, pull requests merged in 2024-08, with the labels that each got.

#24753 php8: update to 8.3.10
  lang/php8/Makefile
Labels: Package update

#24754 [23.05] php8: update to 8.2.22
  lang/php8/Makefile
Labels: Package update, OpenWrt 23.05

#24745 [23.05] adblock-fast: update to 1.1.2-3
  net/adblock-fast/Makefile
  net/adblock-fast/README.md
  net/adblock-fast/files/adblock-fast.config.update
  net/adblock-fast/files/etc/config/adblock-fast
  net/adblock-fast/files/etc/init.d/adblock-fast
  net/adblock-fast/files/etc/uci-defaults/90-adblock-fast
Labels: OpenWrt 23.05

#24737 [23.05] https-dns-proxy: update to 2023.12.26-1
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/README.md
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
  net/https-dns-proxy/patches/020-src-options.c-add-version.patch
Labels: OpenWrt 23.05

#24860 libgpiod: update to 2.1.3
  libs/libgpiod/Makefile
Labels: Package update

#24882 dhtd: updates from master
  net/dhtd/Makefile
Labels: OpenWrt 23.05
