Repository openwrt/packages, pull requests merged in 2024-06, with the labels that each got.

#24339 php8: update to 8.3.8
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: security, Package update

#24340 [23.05] php8: update to 8.2.20
  lang/php8/Makefile
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: security, Package update, OpenWrt 22.03

#24342 [22.03] php8: update to 8.1.29
  lang/php8/Makefile
Labels: security, Package update, OpenWrt 22.03

#24275 snowflake: update to 2.9.2
  net/snowflake/Makefile
Labels: needs run-testing

#24144 [23.05] unbound: pull in adblock-fast generated adb_list
  net/unbound/Makefile
  net/unbound/files/unbound.sh
Labels: OpenWrt 23.05

#23493 [22.03] strongswan: backport fixes from 23.05
  net/strongswan/Makefile
  net/strongswan/files/swanctl.init
Labels: OpenWrt 22.03
