Repository openwrt/packages, pull requests merged in 2025-10, with the labels that each got.

#27580 tailscale: update to 1.88.3
  net/tailscale/Makefile
Labels: Update package

#27578 python-hatchling: update to version 1.27.0
  lang/python/python-hatchling/Makefile
Labels: Update package

#27579 mariadb: update to version 11.4.8
  utils/mariadb/Makefile
  utils/mariadb/patches/210-no-altivec.patch
Labels: Update package

#27586 openwrt-24.10: tunneldigger: add broker_selection option
  net/tunneldigger/Makefile
  net/tunneldigger/files/config.default
  net/tunneldigger/files/tunneldigger.init
Labels: OpenWrt 24.10

#27587 openwrt-23.05: tunneldigger: add broker_selection option
  net/tunneldigger/Makefile
  net/tunneldigger/files/config.default
  net/tunneldigger/files/tunneldigger.init
Labels: OpenWrt 23.05 (end of support)

#27573 gitlab-runner: drop unmaintained package here
  devel/gitlab-runner/Makefile
  devel/gitlab-runner/patches/010-test.patch
  devel/gitlab-runner/test.sh
Labels: Drop package

#27585 syncthing: bump to 2.0.10
  utils/syncthing/Makefile
Labels: Update package

#27583 libcbor: update to 0.13.0
  libs/libcbor/Makefile
  libs/libcbor/patches/001-cmake.patch
Labels: Update package

#27575 gzip: update to version 1.14
  utils/gzip/Makefile
Labels: Update package

#27577 tor: update to version 0.4.18
  net/tor/Makefile
Labels: Update package

#27094 openvpn: add peer-fingerprint support
  net/openvpn/Makefile
  net/openvpn/files/openvpn.options
Labels: enhancement, trivial

#27570 clamav: all; init; add only non-empty parameters
  net/clamav/Makefile
  net/clamav/files/clamav-milter.init
  net/clamav/files/clamav.init
  net/clamav/files/freshclam.config
  net/clamav/files/freshclam.init
Labels: enhancement, needs run-testing

#27591 python-trove-classifiers: bump to 2025.9.11.17
  lang/python/python-trove-classifiers/Makefile
Labels: Update package

#27539 poemgr: update to latest HEAD
  utils/poemgr/Makefile
Labels: waiting for maintainer, Update package

#27594 ddns-scripts-cloudflare: document API Token auth in comments
  net/ddns-scripts/files/usr/lib/ddns/update_cloudflare_com_v4.sh
Labels: trivial

#27608 mariadb: Update to 11.8.3
  utils/mariadb/Makefile
Labels: Update package

#27613 haproxy: update to v3.2.6 (security update)
  net/haproxy/Makefile
  net/haproxy/get-latest-patches.sh
Labels: security, Update package
