Repository openwrt/packages, pull requests merged in 2025-01, with the labels that each got.

#25650 [24.10] adblock-fast: Makefile bugfixes and hijack rework
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 24.10

#25651 [23.05] adblock-fast: Makefile bugfixes and hijack rework
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 23.05

#25648 [24.01] pbr: Makefile bugfixes
  net/pbr/Makefile
Labels: OpenWrt 24.10

#25673 lua-eco: update to 3.7.0
  lang/lua-eco/Makefile
Labels: OpenWrt 24.10

#25807 [24.10] node: January 21, 2025 Security Releases
  lang/node/Makefile
Labels: OpenWrt 24.10

#25808 [23.05] node: January 21, 2025 Security Releases
  lang/node/Makefile
Labels: OpenWrt 23.05

#25784 [24.10] netbird: update to 0.36.3, revert fix to build with musl >1.2.4 and change maintainer
  net/netbird/Makefile
Labels: OpenWrt 24.10

#25813 php8-pecl-krb5: update to 1.2.2
  lang/php8-pecl-krb5/Makefile
Labels: Package update

#25814 php8-pecl-redis: update to 6.1.0
  lang/php8-pecl-redis/Makefile
Labels: Package update

#25815 php8-pecl-xdebug: update to 3.4.1
  lang/php8-pecl-xdebug/Makefile
Labels: Package update

#25812 php8-pecl-http: update to 4.2.6
  lang/php8-pecl-http/Makefile
Labels: Package update

#25811 php8-pecl-dio: update to 0.3.0
  lang/php8-pecl-dio/Makefile
Labels: Package update

#25843 [24.10] pbr: bugfixes: boot-up and negative dest_addr
  net/pbr/Makefile
  net/pbr/files/etc/config/pbr
  net/pbr/files/etc/init.d/pbr
Labels: OpenWrt 24.10

#25845 [24.10] adblock-fast: bugfixes: boot-up, StevenBlack list, new CERT.pl source
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/config/adblock-fast
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 24.10

#25847 [24.10] https-dns-proxy: bugfixes and improvements
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/init.d/https-dns-proxy
Labels: OpenWrt 24.10
