Repository openwrt/packages, pull requests merged in 2025-04, with the labels that each got.

#26256 wfb-ng: Update to release 25.01
  net/wfb-ng/Makefile
Labels: OpenWrt 24.10

#26253 [23.05] libxslt: fix build breakage after libxml2 CVE fix updates
  libs/libxslt/Makefile
  libs/libxslt/patches/0001-xsltproc-remove-maxparserdepth-option.patch
Labels: OpenWrt 23.05

#26251 golang: bump to 1.23.8 in 24.10
  lang/golang/golang/Makefile
Labels: OpenWrt 24.10

#26159 [23.05] bump libexpat to fix CVEs
  libs/expat/Makefile
Labels: security, OpenWrt 23.05

#26241 [24.10] https-dns-proxy: update to 2025.03.13 upstream
  net/https-dns-proxy/Makefile
Labels: OpenWrt 24.10

#26329 [24.10] adblock-fast: bugfixes: empty allow-lists, support for swap
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 24.10

#26275 ttyd: bump to 1.7.7
  utils/ttyd/Makefile
  utils/ttyd/files/ttyd.init
  utils/ttyd/patches/100-log-to-syslog.patch
Labels: needs run-testing

#26130 lsd: update to latest stable/1.1.5
  utils/lsd/Makefile
Labels: OpenWrt 24.10

#26333 yt-dlp: backport 2025.03.31 to 24.10
  multimedia/yt-dlp/Makefile
  multimedia/yt-dlp/test.sh
Labels: OpenWrt 24.10
