Repository openwrt/packages, pull requests merged in 2025-06, with the labels that each got.

#26239 snort3: update to 3.8.1.0
  net/snort3/Makefile
Labels: needs run-testing

#26706 [24.10] Coreutils 9.7
  utils/coreutils/Makefile
  utils/coreutils/patches/001-no_docs_man_tests.patch
Labels: OpenWrt 24.10

#26684 libxcrypt: remove package, moved into main OpenWrt repo
  libs/libxcrypt/Makefile
Labels: Depends on PR in other repo

#22196 Create devcontainer.json
  .devcontainer/devcontainer.json
Labels: blocked

#26723 php8: update to 8.4.8
  lang/php8/Makefile
Labels: Package update
