Repository openwrt/packages, pull requests merged in 2025-07, with the labels that each got.

#27004 postgresql: update to version 15.13
  libs/postgresql/Makefile
  libs/postgresql/patches/700-no-arm-crc-march-change.patch
Labels: needs run-testing, OpenWrt 24.10

#26898 [24.10] ratelimit: add package
  net/ratelimit/Makefile
Labels: New package, OpenWrt 24.10

#27035 snort3: drop patches which were upstreamed
  net/snort3/patches/100-remove-HAVE_HS_COMPILE_LIT-to-work-around-upstream-b.patch
  net/snort3/patches/110-packet_capture-Fix-compilation-with-GCC-13.patch
  net/snort3/patches/900-core-convert-project-to-PCRE2.patch
Labels: OpenWrt 24.10
