Repository openwrt/packages, pull requests merged in 2025-08, with the labels that each got.

#27151 [24.10] php8: update to 8.3.24
  lang/php8/Makefile
Labels: Package update, OpenWrt 24.10

#27172 kmod: fix build failure in install step over dirty build dir
  utils/kmod/patches/020-build-allow-to-install-over-dirty-dir.patch
Labels: bug

#26873 ulogd: bump to version 2.0.9
  net/ulogd/Makefile
Labels: Depends on PR in other repo

#27193 php8: update to 8.4.11
  lang/php8/Makefile
Labels: Package update

#27348 [24.10] adblock-fast: update to 1.1.4-r12
  net/adblock-fast/Makefile
  net/adblock-fast/files/README.md
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 24.10

#27358 [24.10] yt-dlp: bump to 2025.08.22
  multimedia/yt-dlp/Makefile
Labels: Package update, OpenWrt 24.10

#26259 ampr-ripd: initial package release
  net/ampr-ripd/Makefile
  net/ampr-ripd/files/99-ampr-ripd
  net/ampr-ripd/files/ampr-ripd-config
  net/ampr-ripd/files/ampr-ripd-init
Labels: New package

#27246 nginx: update CPE ID
  net/nginx/Makefile
Labels: enhancement

#27352 bc: update to 1.08.2
  utils/bc/Makefile
  utils/bc/patches/001-disable-doc.patch
  utils/bc/patches/002-notice-read-and-write-errors-on-input-and-output.patch
  utils/bc/patches/003-dc-fix-exit-code-of-q-command.patch
  utils/bc/patches/004-no-gen-libmath.patch
Labels: Package update

#26970 micro: add new package
  utils/micro/Makefile
  utils/micro/test.sh
Labels: New package
