Repository openwrt/packages, pull requests merged in 2025-09, with the labels that each got.

#27370 sing-box: add variant tiny
  net/sing-box/Makefile
Labels: New package

#27356 lksctp-tools: update to 1.0.21
  net/lksctp-tools/Makefile
Labels: Package update

#27387 stunnel: update to the latest version 5.75
  net/stunnel/Makefile
Labels: Update package

#27392 esp2net: bump to 2025-09-02
  net/esp2net/Makefile
Labels: Update package

#27379 libconfig: update to 1.8.1
  libs/libconfig/Makefile
Labels: waiting for maintainer, Update package

#27411 snort3: update to 3.9.5.0
  net/snort3/Makefile
Labels: Update package

#27406 pixman: update to version 0.46.4
  libs/pixman/Makefile
Labels: Update package

#27362 netbird: update to 0.55.1, cleanup init script, add support for profile feature
  net/netbird/Makefile
  net/netbird/files/netbird.init
Labels: Update package

#27423 cjson: update to 1.7.19
  libs/cjson/Makefile
Labels: Update package

#27276 rp-pppoe: delete the file /etc/ppp/options
  net/rp-pppoe/Makefile
  net/rp-pppoe/files/ppp/options
Labels: chore

#27433 golang: update to 1.25.1
  lang/golang/golang/Makefile
Labels: security, Update package

#27443 [23.05] php8: update to 8.2.29
  lang/php8/Makefile
Labels: Update package, OpenWrt 23.05 (end of support)

#27445 [24.10] php8 update to 8.3.25
  lang/php8/Makefile
Labels: Update package, OpenWrt 24.10

#27467 yt-dlp: bump to 2025.09.05
  multimedia/yt-dlp/Makefile
Labels: Update package

#27466 adguardhome: bump to 0.107.66
  net/adguardhome/Makefile
Labels: Update package

#27424 ruby: update to 3.4.5
  lang/ruby/Makefile
  lang/ruby/patches/010-fix-riscv64-build.patch
  lang/ruby/ruby_find_pkgsdeps
  lang/ruby/ruby_missingfiles
Labels: enhancement, Update package

#27461 boinc: fix PKG_CPE_ID
  net/boinc/Makefile
Labels: chore

#27462 gnuplot: fix PKG_CPE_ID
  utils/gnuplot/Makefile
Labels: chore

#27463 python-cryptography: fix PKG_CPE_ID
  lang/python/python-cryptography/Makefile
Labels: chore

#27468 cjson: fix PKG_CPE_ID
  libs/cjson/Makefile
Labels: chore

#27338 [24.10] python-certifi: assign PKG_CPE_ID & update to 2025.8.3
  lang/python/python-certifi/Makefile
Labels: security, Update package, OpenWrt 24.10

#27489 lf: update to r38
  utils/lf/Makefile
Labels: Update package

#27496 sendmail: fix build on hosts with Berkley DB installed
  mail/sendmail/Makefile
  mail/sendmail/files/site.OpenWrt.m4
Labels: enhancement

#27405 netatalk: update to 4.3.2
  net/netatalk/Config.in
  net/netatalk/Makefile
  net/netatalk/files/afpd.init
  net/netatalk/patches/010-iconv-build-fix.patch
Labels: Update package

#27503 dnsdist: update to 2.0.1
  net/dnsdist/Makefile
Labels: Update package

#27533 [24.10] netatalk: update to 4.3.2 (backport)
  net/netatalk/Config.in
  net/netatalk/Makefile
  net/netatalk/files/afpd.init
  net/netatalk/patches/010-iconv-build-fix.patch
Labels: Update package, OpenWrt 24.10

#27425 ovpn dco: fix package dependencies and bump version to 0.2.20250801
  kernel/ovpn-dco/Makefile
Labels: Update package, dependencies, changes requested, chore

#27534 [24.10] adblock-fast: update to 1.2.0
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
  net/adblock-fast/files/etc/uci-defaults/90-adblock-fast
Labels: OpenWrt 24.10

#27546 boost: fix PKG_SOURCE_URL
  libs/boost/Makefile
Labels: trivial, chore

#27547 owntone: update to 29.0
  sound/owntone/Makefile
Labels: Update package
