Repository openwrt/packages, pull requests merged in 2025-05, with the labels that each got.

#26405 php8: update to 8.4.6 and fix snmp extension
  lang/php8/Makefile
Labels: Package update

#26479 [24.10] pbr: bugfix: no errors on negated values
  net/pbr/Makefile
  net/pbr/files/etc/init.d/pbr
Labels: OpenWrt 24.10

#26509 [24.10] adblock-fast: Fixed non-printable characters and bump PKG_VERSION
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 24.10

#26504 [24.10] https-dns-proxy: update to 2025.05.11
  net/https-dns-proxy/Makefile
  net/https-dns-proxy/files/etc/config/https-dns-proxy
Labels: OpenWrt 24.10

#26514 [24.10] adblock-fast: improve the processing of combined list
  net/adblock-fast/Makefile
  net/adblock-fast/files/etc/init.d/adblock-fast
Labels: OpenWrt 24.10

#26521 php8: update to 8.1.32
  lang/php8/Makefile
Labels: security, Package update, OpenWrt 22.03 (end-of-support)

#26526 [24.10] php8: update to 8.3.21
  lang/php8/Makefile
  lang/php8/patches/0022-Use-system-timezone.patch
  lang/php8/patches/0025-php-5.4.9-fixheader.patch
  lang/php8/patches/1004-disable-phar-command.patch
Labels: Package update, OpenWrt 24.10

#23679 smartdns: Update to version 46.1
  net/smartdns/Makefile
Labels: Package update

#26553 jool: update to 4.1.14
  net/jool/Makefile
Labels: OpenWrt 24.10
